<header id="header" class="main">
  <h1 class="logo">
    <a href="#" role="button">
      <img src="../../assets/images/app_logo.svg" alt="종로Pick 로고" />
    </a>
  </h1>
  <a href="./00_010_alarm_history.html" role="button" class="btn btn-icon">
    <span class="new-alarm"></span>
    <span class="icon bell">
      <span class="sr-only">알림 내역보기</span>
    </span>
  </a>
  <a href="./00_011_all_menu.html" role="button" class="btn btn-icon">
    <span class="icon menu">
      <span class="sr-only">메뉴 전체보기</span>
    </span>
  </a>
</header>
