<footer id="footer">
  <nav>
    <ul class="gnb">
      <li class="gnb-item">
        <a href="#">
          <span class="icon user">
            <span class="sr-only">강아지 멍멍</span>
          </span>
          <span class="title">홈</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon user">
            <span class="sr-only">강아지 멍멍</span>
          </span>
          <span class="title">하이종로</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon user">
            <span class="sr-only">강아지 멍멍</span>
          </span>
          <span class="title">나우종로</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon user">
            <span class="sr-only">강아지 멍멍</span>
          </span>
          <span class="title">검색</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon user">
            <span class="sr-only">강아지 멍멍</span>
          </span>
          <span class="title">더보기</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>
