<footer id="footer">
  <nav>
    <ul class="gnb">
      <li class="gnb-item">
        <a href="#" class="on">
          <span class="icon menu1">
            <span class="sr-only">홈화면 바로가기</span>
          </span>
          <span class="title">홈</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon menu2">
            <span class="sr-only">종로맵 바로가기</span>
          </span>
          <span class="title">종로맵</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon menu3">
            <span class="sr-only">종로소식 바로가기</span>
          </span>
          <span class="title">종로소식</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon menu4">
            <span class="sr-only">검색 바로가기</span>
          </span>
          <span class="title">검색</span>
        </a>
      </li>
      <li class="gnb-item">
        <a href="#">
          <span class="icon menu5">
            <span class="sr-only">더보기 바로가기</span>
          </span>
          <span class="title">더보기</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>
