<!-- search -->
<div class="place-search">
  <div class="input">
    <input type="text" placeholder="장소 검색" />
    <span class="icon search">
      <span class="sr-only">장소검색</span>
    </span>
  </div>
  <div class="filter">
    <div class="radio">
      <input type="radio" id="radio" name="sample-radio" value="1" checked />
      <label for="radio" class="btn-radio"><span>종로산책</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio2" name="sample-radio" value="2" />
      <label for="radio2" class="btn-radio"><span>버스정류장</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio3" name="sample-radio" value="3" />
      <label for="radio3" class="btn-radio"><span>공영주차장</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio4" name="sample-radio" value="4" />
      <label for="radio4" class="btn-radio"><span>CCTV</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio5" name="sample-radio" value="5" />
      <label for="radio5" class="btn-radio"><span>스마트제설함</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio6" name="sample-radio" value="6" />
      <label for="radio6" class="btn-radio"><span>공공와이파이</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio7" name="sample-radio" value="7" />
      <label for="radio7" class="btn-radio"><span>무더위쉼터</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio8" name="sample-radio" value="8" />
      <label for="radio8" class="btn-radio"><span>주민센터</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio9" name="sample-radio" value="9" />
      <label for="radio9" class="btn-radio"><span>병원/약국</span></label>
    </div>
    <div class="radio">
      <input type="radio" id="radio10" name="sample-radio" value="10" />
      <label for="radio10" class="btn-radio"
        ><span>휴일운영 병원/약국</span></label
      >
    </div>
    <div class="radio">
      <input type="radio" id="radio11" name="sample-radio" value="11" />
      <label for="radio11" class="btn-radio"><span>체육시설</span></label>
    </div>
  </div>
</div>
