// 반응형웹 breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1281px;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin textDate {
  color: #5f5f67;
  font-size: 13px;
  line-height: 18px;
}

@mixin pageTitle {
  font-weight: bold;
  font-size: 1.25rem;
}