$btn-primary: #773147;
$btn-sub: #929292;
$btn-stamp: rgb(113, 27, 184);

$checkbox: #ff0000;
$shadow: #eee;

$border-basic: #eee;
$border-dark: #aeaeae;
$border-focus: #ff0000;

$bg-primary: #773147;
$bg-content-box: #f7f7fd;
$bg-content-box2: #f1f1f9;
$bg-content-box3: #fbf8ec;

$em-text: #e45e63;
$sub-text: #676771;
$gnb-text: #222;
$gnb-text-active: #ff0000;
$date-text: #666;
$guide-text: #898989;
$warning-text: #ff6262;
$safty-text: #0000ff;

$input-focus: #ffd7d7;

$badge-category: #282d38;
$badge-completed: rgb(162, 107, 145);
$badge-proceeding: rgb(97, 170, 177);

// size
$header: 56px;
$bottom: 70px;
$form-bottom: 1rem;
$common-margin: 1rem;
