$btn-primary: #773147;
$btn-sub: #46536F;
$btn-stamp: rgb(113, 27, 184);
$btn-second: #282d38;

$checkbox: #ff0000;
$shadow: #eee;

$border-basic: #c8c8d7;
$border-light: #dcdcec;
$border-dark: #aeaeae;
$border-focus: #ff0000;

$primary1: #3c1063;
$primary2: #e31e30;
$primary3: #773147;
$primary4: #e1dd00;
$primary5: #8dcb8d;

$second1: #ad2a4b;

$bg: #f7f7fd;
$bg-primary: #773147;
$bg-content-box: #f7f7fd;
$bg-content-box2: #f1f1f9;
$bg-content-box3: #fbf8ec;
$bg-content-box4: #ead7dd;
$bg-content-box5: #f5ecef;

$tb-border: #dcdcec;
$tb-th: #f1f1f9;

$em-text: #e45e63;
$sub-text: #676771;
$gnb-text: #222;
$gnb-text-active: #ff0000;
$date-text: #666;
$guide-text: #5f5f67;
$warning-text: #ff6262;
$safty-text: #0000ff;
$primary-text: #3f3f45;
$title-text: #000;

$input-focus: #E45E63;

$banner-em: #eff400;

$badge-basic: #3ba0d9;
$badge-category: #282d38;
$badge-completed: rgb(162, 107, 145);
$badge-proceeding: rgb(97, 170, 177);
$badge-pre: #4a5e94;
$badge-ing: #ea655d;
$badge-end: #9696a3;

// size
$header: 50px;
$bottom: 70px;
$form-bottom: 1rem;
$common-margin: 1rem;
$btn-height: 46px;
$basic-padding: 1.25rem; // 20px
