@import "./_variables.scss";
@import "./_mixins.scss";

/**
* 하이종로
*/

.maps {
  .container {
    padding: 0;
    margin: 0;
  }
  .map-box {
    width: 100%;
    height: 100vh;
    .sample {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .map-footer {
    position: absolute;
    bottom: -78px;
    width: 100%;
    padding: 0 1.25rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    animation: down 0.5s ease forwards;
    .btn-recommend {
      margin: 0 auto;
      max-width: 250px;
      opacity: 0;
    }
    .check-park {
      position: absolute;
      left: 1.25rem;
      transform: translateY(-240%);
      animation: fadeIn 0.5s ease forwards;
      border-radius: 50px;
      padding: 2px;
      input[type="checkbox"] {
        & + span {
          border-radius: 50px;
          border: 2px solid #fff;
          background-color: #fff;
          background-image: url(../images/icon_load_parking.svg);
          background-position: left 12px center;
          background-repeat: no-repeat;
          box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
          font-weight: 500;
          font-size: 13px;
          line-height: 36px;
          height: 40px;
          padding: 0 10px 0 40px;
          transition: 0.3s all;
          position: relative;
        }
        &:checked + span {
          color: #2742A3;
        }
      }
      &.active {
        background-image: linear-gradient(to bottom, #138eff, #00e0ff)
      }
    }
    .btn-traffic {
      position: absolute;
      left: 1.25rem;
      transform: translateY(-140%);
      font-size: 13px;
      line-height: 18px;
      height: 37px;
      border-radius: 50px;
      padding: 12px 12px 12px 12px;
      font-weight: 500;
      display: flex;
      align-items: center;
      border: 2px solid #fff;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
      background: #fff;
      animation: fadeIn 0.5s ease forwards;
    }
    .btn-shinmungo {
      position: absolute;
      left: 1.25rem;
      transform: translateY(-140%);
      font-size: 13px;
      line-height: 18px;
      height: 40px;
      border-radius: 50px;
      padding: 12px 12px 12px 40px;
      font-weight: 500;
      display: flex;
      align-items: center;
      border: 2px solid #fff;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
      background: #fff url(../images/icon_shinmungo.svg) left 12px center no-repeat;
      animation: fadeIn 0.5s ease forwards;
    }
    .my-location {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
      position: absolute;
      opacity: 0;
      transform: translateY(-140%);
      animation: fadeIn 0.5s ease forwards;
      animation-delay: 1s;
      .icon {
        margin: auto;
      }
      &:active {
        box-shadow: 0 0 2px 3px rgb(255, 218, 213);
      }
    }
    &.course {
      animation: lazyup 0.8s ease forwards;
      .btn-recommend {
        opacity: 1;
      }
    }
  }
}
@keyframes down {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -78px;
  }
}

@keyframes lazyup {
  0% {
    bottom: -150px;
  }
  60% {
    bottom: 16px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.course {
  .container {
    margin-bottom: 0;
  }
}

.place-search {
  position: absolute;
  left: 0;
  right: 0;
  top: 74px;
  z-index: 900;
  .input {
    margin: 0 1.25rem 1rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    position: relative;
    &.shadow {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.09);
    }
    input[type="text"] {
      border-radius: 50px;
    }
    .srch {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.place-filter {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  overflow-x: auto;
  padding: 0.125rem 1.25rem;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .radio {
    flex: 0 0 auto;
    input[type="radio"] {
      & + label {
        border: 2px solid #fff;
        color: #18181a;
        font-size: 13px;
        padding: 0 12px;
        line-height: 1.2;
        height: 28px;
        gap: 0.25rem;
        background-color: rgba(255,255,255,.9);
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
        span {
          padding: 0;
          &.marker {
            width: 1.25rem;
            height: 1.25rem;
            img {
              width: 1rem;
              display: block;
              margin: 0.125rem;
              filter: drop-shadow(0 1px 3px rgba(0,0,0,0.3))
            }
          }
        }
        &.radio-all {
          padding: 0;
          width: 2rem;
          height: 2rem;
          .icon {
            background-size: 1.25rem;
          }
        }
      }
      &:checked + label {
        color: $primary3;
        border: 2px solid transparent;
        background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #138EFF 0%,  #00E0FF 100%);
        background-origin: border-box;
        background-clip: padding-box, border-box;
      }
    }
    & + .radio {
      margin-left: 0;
    }
  }
}

// 코스상세
.course {
  &-photo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &-social {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    .btn {
      border: 1px solid $border-light;
      background-color: #fff;
      display: flex;
      align-items: center;
      &-like {
        border-radius: 50px;
        padding: 4px 10px;
        height: 2rem;
      }
      &-share {
        border-radius: 50px;
        padding: 4px;
        width: 2rem;
        height: 2rem;
      }
      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
      .like-count {
        font-size: 0.75rem;
      }
    }
  }
  &-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem 0.25rem;
    margin: 1.25rem 0;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      border-color: $border-basic;
      border-radius: 50px;
      color: $guide-text;
      font-size: 0.875rem;
      background-color: #fff;
      height: 36px;
      padding: 0;
      flex: 1;
      &::after {
        content: '';
        display: block;
        width: 1.25rem;
        height: 1.25rem;
      }
      &.btn-audio {
        &::after {
          background: url(../images/icon_b_play.svg) center no-repeat;
        }
      }
      &.btn-guide {
        &::after {
          background: url(../images/icon_download.svg) center no-repeat;
        }
      }
      &.btn-apply {
        background-color: #46536F;
        color: #fff;
        width: 100%;
        flex: none;
        border-color: #46536F;
      }
    }
  }
  &-detail {
    padding: 2rem 1.25rem 0;
    position: relative;
    .crs-complete {
      position: absolute;
      right: 10px;
      top: 0;
      width: 100px;
      height: 100px;
      transform: translateY(-50%);
    }
    .course {
      &-title {
        font-weight: bold;
        font-size: 1.25rem;
      }
      &-content {
        padding-top: 1rem;
        p {
          line-height: 1.25rem;
        }
        dl {
          margin-top: 1.5rem;
          dt {
            font-weight: bold;
            font-size: 13px;
            line-height: 18px;
            margin-bottom: 0.25rem;
          }
          dd {
            font-size: 0.875rem;
            color: $guide-text;
            line-height: 1.25rem;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
  &-map {
    max-height: 300px;
    overflow: hidden;
    position: sticky;
    top: 50px;
    z-index: 50;
    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      img.map-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .btn-icon.target {
        position: absolute;
        right: 1rem;
        top: 300px;
        margin-top: -56px;
        z-index: 51;
        width: 40px;
        height: 40px;
        box-shadow: 0 4px 4px rgba(0,0,0,.25);
        background-color: #fff;
        background-size: 1.5rem;
        border-radius: 50%;
      }
    }
    .my-location {
      position: absolute;
      right: 0;
      z-index: 1000;
    }
  }
  &-points {
    padding: 1.5rem 1.25rem 4.5rem 1.25rem;
    background-color: $bg-content-box2;
    position: relative;
    z-index: 49;
    .point {
      &-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      &-item {
        .title {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          padding: 0.25rem 0;
          .num {
            font-weight: bold;
            background-color: #E46E5E;
            color: #fff;
            font-size: 0.75rem;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            border-radius: 100%;
          }
          .course-name {
            flex: 1;
            font-size: 0.875rem;
            font-weight: bold;
          }
        }
      }
      &-card {
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        border-radius: 0 6px 6px 6px;
        padding: 10px;
        background-color: #fff;
        position: relative;
        margin: 10px 10px 0 10px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -9px;
          display: block;
          width: 0.875rem;
          height: 10px;
          z-index: 10;
          background: url(../images/icon_tail.svg) center no-repeat;
        }
        .inner {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
        }
        .img-box {
          position: relative;
          width: 45%;
          .thumb-img {
            position: relative;
            z-index: 8;
            overflow: hidden;
            border-radius: 6px;
            &::after {
              content: '';
              display: block;
              padding-bottom: 100%;
            }
            img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              width:100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .img-completed {
            position: absolute;
            right: -12px;
            top: -20px;
            z-index: 100;
          }
        }
        .cont-box {
          flex: 1;
          display: flex;
          flex-direction: column;
          .cont {
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
          .time {
            color: $guide-text;
            font-size: 13px;
            line-height: 18px;
            padding: 0.25rem 0;
          }
          .btn-aug {
            border: none;
            background-color: transparent;
            font-size: 0.875rem;
            line-height: 1rem;
            color:#3f3f45;
            display: inline-flex;
            align-items: center;
            gap: 2px;
            padding: 0;
            margin-top: auto;
            position: absolute;
            bottom: 10px;
            .icon {
              width: 20px;
              height: 20px;
            }
            &.on {
              color: #2742A3;
              .icon.audio-guide {
                background-image: url(../images/btn_audio_guide_on.svg)
              }
            }
          }
        }
  
        .btn-stamp {
          position: absolute;
          right: 0;
          top: 0;
          transform: translateY(-140%);
          border-color: $border-basic;
          border-radius: 50px;
          font-size: 13px;
          padding: 0 10px 0 34px;
          height: 2rem;
          color: $guide-text;
          background: #fff url(../images/icon_stamp_mono.svg) left 10px center no-repeat;
        }
        
      }
    }
  }
}

.under-fixed {
  position: fixed;
  bottom: -100%;
  visibility: hidden;
  left: 0;
  right: 0;
  transition: all 0.3s;
  z-index: 1000;
  &.active {
    visibility: visible;
    bottom: 0;
  }
}

// course info
.course-info {
  .course-thumb {
    max-height: 200px;
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .course-text {
    line-height: 1.2;
    opacity: 0.8;
    font-size: 0.875rem;
  }
  .btns {
    .btn {
      background-color: #fff;
      font-size: 0.75rem;
      padding: 0.25rem 1rem;
      height: 24px;
    }
  }
  dl {
    padding-top: 0.25rem;
  }
}

// 팝업 내 거점 정보
.course-point {
  padding: 0 0 1rem 0;
  .title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .course-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.25rem 0;
  }
  .time {
    color: $guide-text;
    font-size: 13px;
  }
}

.course-list {
  h4 {
    color: $primary-text;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0.25rem;
  }
  .course-item {
    border: 1px solid $border-light;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    .course-info {
      display: flex;
      gap: 0.5rem;
      padding: 0.25rem;
      > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .course-thumb {
      min-width: 100px;
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    dl {
      dt {
        font-weight: bold;
        font-size: 0.875rem;
      }
      dd {
        font-size: 0.875rem;
        p {
          line-height: 1.25rem;
          padding: 0.25rem 0 0;
        }
      }
    }
  }
}

.like-info {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}



// 추천 산책 코스 
.course {
  &-card_item {
    & + .course-card_item {
      margin-top: 1rem;
    }
    .thumb-img {
      height: 170px;
      overflow: hidden;
      border-radius: 6px;
      margin: 0.25rem 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
  &-title {
    font-weight: bold;
    line-height: 1.5rem;
  }
  &-info {
    position: relative;
    .crs-complete {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-60%);
    }
  }
  &-expln {
    max-width: calc(100% - 62px);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.25rem 0;
  }
}

#certification {
  .popup-cnt {
    max-width: 260px;
  }
}
.course-certify {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 1rem;
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 1rem;
  }
  .name {
    color: $second1;
  }
  .date {
    margin-top: 1rem;
    color: $primary-text;
    font-size: 13px;
  }
  .img-crt {
    max-height: 100px;
  }
  .stampes {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    img {
      width: 30px;
      display: block;
    }
  }
  button {
    width: 100%;
    margin-top: 1.5rem;
  }
}


.p-course {
  .img-box {
    img {
      width: 100%;
      display: block;
    }
  }
  .txt-box {
    padding: 1.5rem 1.25rem;
  }
  &-title {
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-expln {
    line-height: 1.25rem;
  }
  &-oper {
    margin-top: 1.5rem;
    dt {
      font-size: 13px;
      color: $guide-text;
    }
    dd {
      margin-top: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}


.snow-box_info {
  dt {
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: bold;
  }
  dd {
    font-size: 13px;
    color: $primary-text;
    line-height: 18px;
  }
}

.snow-forms {
  label {
    span {
      color: $guide-text;
    }
  }
  .inline {
    display: flex;
    align-items: center;
  }
  .radio {
    flex: 1;
    position: relative;
    input[type="radio"] {
      & + span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0.5rem 0;
        border-radius: 6px;
        border: 1px solid #9696A3;
      }
      &:checked + span {
        color: #fff;
        background-color: #46536F;
        border-color: #46536F;
      }
    }

  }
  textarea {
    height: auto;
  }
}

.leaflet-marker-icon {
	filter: drop-shadow(5px, 5px, 5px, #000) !important;
}
.leaflet-div-icon {
	background: none !important;
	border: none !important;
}
/* 거점마커 */

.m-point {
	border-radius: 50%;
	background-color: rgba(239,81,81, 0.8);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px; 
	font-size: 0.75rem;
	font-weight: bold;
}


.p-point {
  border-radius: 50%;
	color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 0.75rem;
  font-weight: bold;
  &.cngst-0 {
    background-color: rgba(0,0,0,0.7)
  }
  &.cngst-1 {
    background-color: rgba(50, 122, 228, 0.8)
  }
  &.cngst-2 {
    background-color: rgba(79, 205,92,0.8);
  }
  &.cngst-3 {
    background-color: rgba(239, 81,81, 0.8);
  }
}


.p-count {
  &.cngst-1 {
    color: #327AE4
  }
  &.cngst-2 {
    color: #4FCD5C;
  }
  &.cngst-3 {
    color: #EF5151;
  }
}

.legend {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1.25rem;
  transform: translateY(-260%);
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
  .btn {
    background-color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    color: #37373c;
    font-size: 13px;
    line-height: 14px;
  }
  &-items {
    position: absolute;
    bottom: 0;
    padding: 12px 4px 46px 4px;
    border-radius: 40px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    .p-point {
      font-size: 11px;
    }
  }
  &.open {
    .btn {
      color: #e45e63;
      border-color: #e45e63;
    }
    .legend-items {
      height: auto;
      visibility: visible;
    }
  }
}

.course-more {
  display: inline-block;
  position: absolute;
  right: 1.25rem;
  top: 78px;
}

.course-titles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 1.25rem;
  display: none;
  height: 0;
  transition: 0.3s height;
  .btn {
    border: 1px solid #C8C8D7;
    background-color: #fff;
    font-size: 13px;
    line-height: 1.25rem;
    border-radius: 50px;
    padding: 0.25rem 0.5rem;
    height: auto;
  }
  &.open {
    display: flex;
    height: auto;
  }
}