@import "./_variables.scss";
@import "./_mixins.scss";

/**
* 하이종로
*/

.maps {
  .container {
    padding: 0;
    margin: 0;
  }
  .map-box {
    width: 100%;
    height: 100vh;
    .sample {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .map-footer {
    position: absolute;
    bottom: -78px;
    width: 100%;
    padding: 0 1.25rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    animation: down 0.5s ease forwards;
    .btn-recommend {
      margin: 0 auto;
      max-width: 250px;
      opacity: 0;
    }
    .my-location {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
      position: absolute;
      opacity: 0;
      transform: translateY(-140%);
      animation: fadeIn 0.5s ease forwards;
      animation-delay: 1s;
      .icon {
        margin: auto;
      }
      &:active {
        box-shadow: 0 0 2px 3px rgb(255, 218, 213);
      }
    }
    &.course {
      animation: lazyup 0.8s ease forwards;
      .btn-recommend {
        opacity: 1;
      }
    }
  }
}
@keyframes down {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -78px;
  }
}

@keyframes lazyup {
  0% {
    bottom: -150px;
  }
  60% {
    bottom: 16px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.course {
  .container {
    margin-bottom: 0;
    padding-bottom: $bottom;
  }
}

.place-search {
  position: absolute;
  left: 0;
  right: 0;
  top: 74px;
  z-index: 900;
  .input {
    margin: 0 1.25rem 1rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    position: relative;
    &.shadow {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.09);
    }
    input[type="text"] {
      border-radius: 50px;
    }
    .srch {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
    }
  }
}

.place-filter {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  overflow-x: auto;
  padding: 0.125rem 1.25rem;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .radio {
    flex: 0 0 auto;
    input[type="radio"] {
      & + label {
        border-color: transparent;
        color: #18181a;
        font-size: 13px;
        padding: 0 12px;
        line-height: 1.2;
        height: 28px;
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
        span {
          padding: 0;
          &.marker {
            background-color: yellow;
            width: 1rem;
            height: 1rem;
            border-radius: 2px;
          }
        }
        &.radio-all {
          padding: 0;
          width: 2rem;
          height: 2rem;
          .icon {
            background-size: 1.25rem;
          }
        }
      }
      &:checked + label {
        background-color: $bg-primary;
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
      }
    }
    & + .radio {
      margin-left: 0;
    }
  }
}

// 코스상세
.course {
  &-photo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &-social {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0 1.25rem;
    transform: translateY(-50%);
    .btn {
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      background-color: #fff;
      display: flex;
      align-items: center;
      &-like {
        border-radius: 50px;
        padding: 4px 10px;
        height: 2rem;
      }
      &-share {
        border-radius: 50px;
        padding: 4px;
        width: 2rem;
        height: 2rem;
      }
      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
      .like-count {
        font-size: 0.75rem;
      }
    }
  }
  &-btns {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 1.25rem 0;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      border-color: $border-basic;
      border-radius: 50px;
      color: $guide-text;
      font-size: 0.875rem;
      background-color: #fff;
      height: 36px;
      padding: 0;
      flex: 1;
      &::after {
        content: '';
        display: block;
        width: 1.25rem;
        height: 1.25rem;
      }
      &.btn-audio {
        &::after {
          background: url(../images/icon_b_play.svg) center no-repeat;
        }
      }
      &.btn-guide {
        &::after {
          background: url(../images/icon_download.svg) center no-repeat;
        }
      }
    }
  }
  &-detail {
    padding: 0 1.25rem;
    .course {
      &-title {
        font-weight: bold;
        font-size: 1.25rem;
      }
      &-content {
        padding-top: 1rem;
        p {
          line-height: 1.25rem;
        }
        dl {
          margin-top: 1.5rem;
          dt {
            font-weight: bold;
            font-size: 13px;
            line-height: 18px;
            margin-bottom: 0.25rem;
          }
          dd {
            font-size: 0.875rem;
            color: $guide-text;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
  &-map {
    max-height: 300px;
    overflow: hidden;
    position: sticky;
    top: 50px;
    z-index: 600;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-points {
    padding: 1.5rem 1.25rem;
    background-color: $bg-content-box2;
    position: relative;
    z-index: 500;
    .point {
      &-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      &-item {
        .title {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          padding: 0.25rem 0;
          .num {
            font-weight: bold;
            background-color: $primary3;
            color: #fff;
            font-size: 0.75rem;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            border-radius: 100%;
          }
          .course-name {
            flex: 1;
            font-size: 0.875rem;
            font-weight: bold;
          }
        }
      }
      &-card {
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        border-radius: 0 6px 6px 6px;
        padding: 10px;
        background-color: #fff;
        position: relative;
        margin: 10px 10px 0 10px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -9px;
          display: block;
          width: 0.875rem;
          height: 10px;
          z-index: 10;
          background: url(../images/icon_tail.svg) center no-repeat;
        }
        .thumb-img {
          position: relative;
          z-index: 8;
          width: 100%;
          max-height: 90px;
          overflow: hidden;
          border-radius: 6px;
          img {
            width:100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .img-completed {
          position: absolute;
          right: 10px;
          top: -10px;
          z-index: 100;
        }
        .btn-stamp {
          position: absolute;
          right: 0;
          top: 0;
          transform: translateY(-140%);
          border-color: $border-basic;
          border-radius: 50px;
          font-size: 13px;
          padding: 0 10px 0 34px;
          height: 2rem;
          color: $guide-text;
          background: #fff url(../images/icon_stamp_mono.svg) left 10px center no-repeat;
        }
        .cont {
          font-size: 0.875rem;
          line-height: 1.25rem;
          margin-top: 0.5rem;
        }
        .time {
          color: $guide-text;
          font-size: 13px;
          padding: 0.25rem 0 0.25rem 1.25rem;
          background: url(../images/icon_time.svg) left center no-repeat;
        }
      }
    }
  }
}

.under-fixed {
  position: fixed;
  bottom: -100%;
  visibility: hidden;
  left: 0;
  right: 0;
  transition: all 0.3s;
  z-index: 1000;
  &.active {
    visibility: visible;
    bottom: 0;
  }
}

// course info
.course-info {
  .course-thumb {
    max-height: 130px;
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .course-text {
    line-height: 1.2;
    opacity: 0.8;
    font-size: 0.875rem;
  }
  .btns {
    .btn {
      background-color: #fff;
      font-size: 0.75rem;
      padding: 0.25rem 1rem;
      height: 24px;
    }
  }
  dl {
    padding-top: 0.25rem;
  }
}

// 팝업 내 거점 정보
.course-point {
  padding: 0 0 1rem 0;
  .title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .course-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.25rem 0;
  }
  .time {
    color: $guide-text;
    font-size: 13px;
  }
}

.course-list {
  h4 {
    color: $primary-text;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0.25rem;
  }
  .course-item {
    border: 1px solid $border-light;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    .course-info {
      display: flex;
      gap: 0.5rem;
      padding: 0.25rem;
      > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .course-thumb {
      min-width: 100px;
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    dl {
      dt {
        font-weight: bold;
        font-size: 0.875rem;
      }
      dd {
        font-size: 0.875rem;
        p {
          line-height: 1.25rem;
          padding: 0.25rem 0 0;
        }
      }
    }
    .like-info {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
    }
  }
}