@import "./_variables.scss";
@import "./_mixins.scss";

// 더보기
.more {
  .container {
    padding-bottom: $bottom;
    .more-box {
      margin-top: 2rem;
      &.user {
        margin-top: 0;
      }
      &_title {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        position: relative;
        .btn-more {
          position: absolute;
          right: 0;
          top: 50%;
          font-weight: normal;
          transform: translateY(-50%);
          &:visited {
            color: $primary-text !important;
          }
        }
      }
    }
  }
}

.more-box {
  &.user {
    .btn-login {
      color: $guide-text;
      font-size: 0.875rem;
      line-height:1.5rem;
      span {
        text-decoration: underline;
      }
    }
    .user-info {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      font-weight: bold;
    }
    .my-box {
      border-radius: 10px;
      border: 1px solid $border-basic;
      padding: 1rem 1.5rem;
      margin-top: 1rem;
      dl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        dt {
          font-weight:bold;
          line-height: 26px;
        }
        dd {
          display: flex;
          align-items: center;
          em {
            font-weight: bold;
            font-size: 1.5rem;
            line-height:26px;
          }
        }
      }
    }
  }
  &.cs {
    margin-top: 0 !important;
  }
  &.emerge {
    .emerge-info {
      border-radius: 0.5rem;
      padding: 1rem 0.5rem;
      background-color: #ffefeb;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      dl {
        dt {
          font-size: 0.875rem;
          margin-bottom: 0.5rem;
        }
        dd {
          strong {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }
    }
  }
  &.notice {
    .notice-list {
      &_item {
        border-bottom: 1px solid $border-light;
        padding: 1rem 0.25rem;
        a {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.25rem;
        }
        .title {
          font-size: 0.875rem;
          font-weight: bold;
          line-height: 1.25rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .type,
        .date {
          font-size: 0.875rem;
          color: $guide-text
        }
      }
    }
  }
  &.op {
    text-align: center;
    .opr-info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;
      li {
        display: flex;
        justify-content: center;
        flex: 1;
        .btn-text,
        > span {
          display: block;
          text-align: center;
          font-size: 0.875rem;
          line-height: 1.25rem;
          color: $primary-text;
        }
        .ver {
          &::before {
            content: 'ver '
          }
        }
        &.bar {
          flex: none;
          width: 1px;
          &::after {
            content: '';
            display: block;
            width: 1px;
            height: 14px;
            background-color: $border-light;
          }
        }
      }
    }
    .btn-logout {
      display: inline-block;
      padding: 0;
      font-size: 0.875rem;
      line-height: 1.25rem;
      height: auto;
      color: $guide-text;
      margin: 0 auto;
    }
  }

  .cs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    &_item {
      flex: 1;
      a {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background-color: $bg-content-box;
        font-size: 0.875rem;
        border-radius: 10px;
        padding: 1rem;
        .icon {
          width: 2rem;
          height: 2rem;
          background-size: 100%;
        }
      }
    }
  }
}

// 문의
.qa-forms {
  .select, .input {
    margin-bottom: 0.5rem;
  }
  textarea {
    height: 246px;
    padding: 10px;
    &::placeholder {
      color: #9696a3;
      font-size: 0.875rem;
      font-weight: 100;
    }
  }
}

.qa-title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  em {
    color: $em-text;
  }
}
.qa-list {
  display: flex;
  flex-direction: column;
  .qa-item {
    &.answer {
      display: none;
      overflow: hidden;
      border-top: 1px solid $border-light;
      strong {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 6px;
        display: block;
      }
    }
    &_head {
      padding: 1rem 0.25rem;
      border-bottom: 1px solid $border-light;
      .qa-item {
        &_title {
          font-weight: bold;
          font-size: 0.875rem;
          line-height: 1.25rem;
          margin-top: 0.5rem;
        }
        &_date {
          font-size: 0.875rem;
          color: #999;
        }
      }
    }
    &_content {
      padding: 1rem 0.5rem;
      background-color: $bg-content-box2;
      display: none;
      p {
        font-size: 0.875rem;
        line-height: 1.25rem;
        white-space: pre-wrap;
        img {
          width: 100%;
          display: block;
          margin-top: 0.5rem;
        }
      }
    }
  }
  .open {
    .qa-item.answer,
    .qa-item_content {
      display: block;
    }
  }
  &.faq {
    > li {
      position: relative;
      .qa-item_head {
        position: relative;
        &::after {
          position: absolute;
          right: 0;
          top: 1rem;
          margin-top: -4px;
          content: "";
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          background: transparent url(../images/icon_dwn.svg) center
            no-repeat;
          background-size: 100%;
          transition: all 0.3s;
        }
      }
      &.open {
        .qa-item_head {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

.search {
  .input {
    position: relative;
    input[type="text"] {
      border-radius: 50px;
    }
    .icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%)
    }
  }
}
// 알림설정
.setting-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0;
  span.type {
    color: $guide-text;
    font-size: 13px;
    line-height: 18px;
  }
  .agree-date {
    font-size: 13px;
    line-height: 18px;
    color: #787882;
    margin-top: 1rem;
  }
  .switch-item {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: space-between;
    dl {
      dt {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5rem;
      }
      dd {
        margin-top: 0.25rem;
        color: $primary-text;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
  &.border {
    border-bottom: 1px solid $border-light;
  }
  &:first-child {
    padding-top: 0;
  }
}

.my-ticket {
  &_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  &_item {
    border: 1px solid $border-light;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    .my-ticket_info {
      height: 0;
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
      transition: 0.3s all;
    }
    .ticket {
      &-date {
        @include textDate;
        margin-top: 6px;
      }
      &-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        em {
          color: #02A7EE;
        }
        &::after {
          position: absolute;
          right: 0;
          top: 0;
          content: "";
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          background: transparent url(../images/icon_dwn.svg) center
            no-repeat;
          background-size: 100%;
          transition: all 0.3s;
        }
      }
    }
    &.open {
      .my-ticket_info {
        visibility: visible;
        height: auto;
        overflow-y: auto;
        opacity: 1;
      }
      .ticket {
        &-title {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &_info {
    background-color: $bg-content-box2;
    &::before {
      content:'';
      display: block;
      height:12px;
      background-color: #fff;
    }
    .ticket-info {
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .value-label {
        color: $guide-text;
        font-size: 13px;
        line-height: 18px;
        display: block;
        margin-bottom: 0.25rem;
      }
      .value {
        font-size: 0.875rem;
        line-height: 1.25rem;
        em {
          display: flex;
          font-weight: bold;
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      .cont {
        margin-top: 0.75rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        img {
          margin-top: 1rem;
          width: 100%;
          display: block;
        }
      }
      .result {
        font-size: 0.875rem;
        line-height: 1.25rem;
        border-top: 1px solid $border-light;
        padding: 1rem 0.5rem 0;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        .date {
          @include textDate;
          margin-top: 0.75rem;
        }
      }
    }
  }

}

.terms-detail {
  font-size: 0.875rem;
  line-height: 1.3;
  strong {
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
  }
  p {
    margin: 1rem 0;
  }
}


.add-keyword {
  padding: 2rem 1rem 0.5rem;
  .title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 1rem;
    span {
      flex: 1;
    }
    .icon {
      background-size: 90%;
    }
  }
  .input {
    width: 100%;
  }

}

.my-keywords {
  display: flex;
  gap: 0.25rem;
  .word {
    border: 1px solid #C8C8D7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: $primary3;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 6px 1rem;
    .icon {
      width: 1rem;
      height: 1rem;
    }
  }
}