@import "./_variables.scss";
@import "./_mixins.scss";

// 검색
.search {
  background-color: $bg;
  .container {
    margin-top: 0;
    padding: 1.5rem 1.25rem;
  }
  &.place {
    background-color: #fff;
    .container {
      margin-top: $header;
    }
  }
  &.more {
    background-color: #fff;
    .container {
      margin-top: 50px;
    }
  }
}
.search-box {
  padding: 0;
  margin-bottom: 1.5rem;
  position: relative;
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &_title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    position: relative;
    .btn-text {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 13px;
      padding: 0;
      line-height: 1.2;
      color: #9696a3;
      font-weight: normal;
    }
    .date {
      color: #9696a3;
      font-weight: normal;
      font-size: 11px;
      margin-left: 0.5rem;
    }
  }
  &.quick {
    background-color: #f2f3f6;
  }
  .place & {
    padding: 1rem;
  }
}

.search-box {
  position: relative;
  .search-layer {
    display: none;
    border: 1px solid $border-focus;
    border-radius: 0 0 1rem 1rem;
    height: 300px;
    overflow-y: auto;
    margin-top: -1px;
    position: absolute;
    left: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: #fff;
    z-index: 99;
  }
  &.active {
    input[type="search"] {
      transition: none;
      border: 1px solid $border-focus;
      border-radius: 1rem 1rem 0 0;
    }
    .search-layer {
      display: block;
    }
  }
}

.history-keyword {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  .keyword {
    border: 1px solid #dcdcdc;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    .btn-keyword {
      font-size: 13px;
      color: #3f3f45;
    }
  }
}

.rank-keyword {
  list-style: decimal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 150px;
  padding: 0 0 0 1.5rem;
  gap: 0.5rem;
  li {
    width: 50%;
    padding: 0;
    .btn-keyword {
      color: #3f3f45;
      font-size: 0.875rem;
      line-height: 1.1;
    }
    &::marker {
      font-size: 0.875rem;
      font-family: "IBM Plex Sans KR";
    }
  }
}

.quick-box {
  display: flex;
  gap: 0.5rem;
  .quick-search {
    flex: 1;
    border: 1px solid #dcdcec;
    background-color: #f1f1f9;
    border-radius: 10px;
    padding: 1rem;
  }
  .keywords {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    .btn {
      text-align: left;
      font-size: 0.875rem;
    }
  }
}

.search-result {
  .recent {
    padding: 1rem;
    .title {
      display: flex;
      font-size: 0.875rem;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;
    }
  }
  .search-history {
    &_item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0;
      .icon {
        border: 1px solid $border-basic;
        border-radius: 50%;
        background-size: 1rem;
      }
      .date {
        @include textDate;
        margin-left: auto;
      }
    }
  }
}

.quick-search-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.place-list {
  .place-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $border-light;
    padding: 1rem 0.25rem;
    .icon {
      margin-top: -2px;
    }
    dl {
      flex: 1;
      dt {
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
        .cate {
          margin-left: auto;
          font-weight: normal;
          font-size: 13px;
          color: $guide-text;
        }
      }
      dd {
        margin-top: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.5rem;
        font-size: 13px;
        line-height: 18px;
        color: $guide-text;
      }
    }
    .distance {
      color: $primary-text;
    }
  }
}


.search-result {
  &_box {
    border-bottom: 1px solid $border-light;
    &:first-child {
      padding: 1rem 0;
    }
    padding: 1.5rem 0;
    .keyword {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      dl {
        font-size: 0.875rem;
      }
      dt {
        font-weight: bold;
      }
    }
    .title {
      font-weight: bold;
      .cnt {
        font-weight: normal;
        &::after {
          content: '+'
        }
      }
    }
    .contents {
      margin-top: 0.5rem;
      ul {
        li {
          padding: 0.25rem 0;
          a {
            display: flex;
            padding: 0.25rem 0;
            background: url(../images/icon_chevron_right.svg) right center no-repeat;
          }
        }
      }
    }
  }
  &_guide {
    padding: 1rem 0;
    line-height: 1.2;
    strong {
      display: block;
    }
    button {
      margin: 0.5rem auto;
      width: 100%;
    }
  }
}