@import "./_variables.scss";
@import "./_mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600&display=swap");

// @font-face {
//   font-family: "SCDream";
//   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
//     format("woff");
//   font-weight: normal;
//   font-style: normal;
// }
// src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
//   format("woff");

// @font-face {
//   font-family: "IBMPlexSansKR-Regular";
//   src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600&display=swap");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "GangwonState";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 16px;
  color: $primary-text;
}

button,
input,
textarea,
select {
  transition: all 0.3s;
  font-family: "IBM Plex Sans KR", sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #000;
  &:visited {
    color: #000;
  }
  &.link-detail {
    color: $primary-text;
    text-decoration: underline;
  }
}

// screen reader only
.sr-only {
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hd-blank {
  width: 2rem;
  height: 2rem;
}

// form required item
.required {
  > span {
    &::after {
      content: "*";
      display: inline-block;
      color: $em-text;
      padding-left: 0.25rem;
    }
  }
}

.good {
  color: $safty-text;
}

.bad {
  color: $warning-text;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &.between {
    justify-content: space-between;
  }
  &.end {
    justify-content: flex-end;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.x-scroll {
  overflow-x: auto !important;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ctx {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.new-alarm {
  display: block;
  background-color: $btn-primary;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.guide {
  font-size: 13px;
  padding-top: 0.25rem 0;
  color: $guide-text;
  line-height: 1.5;
  &.error {
    color: $warning-text;
  }
  ul {
    list-style: disc;
    padding: 0 1.25rem;
    li {
      padding: 0.125rem 0;
    }
  }
}

.equal {
  color: $em-text;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  input[type="text"] {
    flex: 1;
  }
}

hr.full-line {
  height: 1px;
  border: 0;
  width: calc(100% + 2rem);
  margin: 1rem -1rem 2rem;
  background-color: $border-basic;
}

.divided {
  height: 0.5rem;
  background-color: $bg-content-box2;
  margin: 1.5rem 0;
}

// header
#header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: $header;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  &.main {
    gap: 0.5rem;
    border-bottom-color: transparent;
    .logo {
      img {
        height: 2rem;
        display: block;
      }
    }
    .weather {
      margin-right: auto;
    }
    .logo {
      margin-right: auto;
    }
  }
  &.sub {
    gap: 0.25rem;
  }
  &.location {
    height: 50px;
    .icon.map {
      background-size: 100%;
    }
    .btn {
      margin-left: auto;
    }
  }
  .title {
    font-weight: bold;
  }
  .hd-right {
    margin-left: auto;
  }
}

// footer
#footer {
  border-top: 1px solid $border-basic;
  background-color: #fff;
  box-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0 calc(0 + env(safe-area-inset-bottom));
  nav {
    .gnb {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.25rem;
      &-item {
        flex: 1;
        padding: 0.5rem 0;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.25rem;
          font-size: 10px;
          color: $gnb-text;
          .icon {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.03);
        }
      }
    }
  }
}

.gnb {
  .icon {
    &.menu1 {
      background-image: url(../images/icon_gnb_menu01.svg);
    }
    &.menu2 {
      background-image: url(../images/icon_gnb_menu02.svg);
    }
    &.menu3 {
      background-image: url(../images/icon_gnb_menu03.svg);
    }
    &.menu4 {
      background-image: url(../images/icon_gnb_menu04.svg);
    }
    &.menu5 {
      background-image: url(../images/icon_gnb_menu05.svg);
    }
  }
  .on {
    color: #ad2a4b !important;
    .icon {
      &.menu1 {
        background-image: url(../images/icon_gnb_menu01_on.svg);
      }
      &.menu2 {
        background-image: url(../images/icon_gnb_menu02_on.svg);
      }
      &.menu3 {
        background-image: url(../images/icon_gnb_menu03_on.svg);
      }
      &.menu4 {
        background-image: url(../images/icon_gnb_menu04_on.svg);
      }
      &.menu5 {
        background-image: url(../images/icon_gnb_menu05_on.svg);
      }
    }
  }
}

#content {
  padding-bottom: $header;
}

.container {
  margin-top: $header;
  margin-bottom: $header;
  .more & {
    margin-top: calc($header + 1rem);
  }
}

.inner-padd {
  padding: 0 1rem;
}

.inner-full-padd {
  padding: 1.5rem 1rem;
}

// buttons
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  &.under {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    margin: 0;
    z-index: 1000;
    background-color: #fff;
  }
  .btn {
    flex: 1;
  }
}
.btn {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: $btn-height;
  line-height: 1rem;
  font-size: 1rem;
  color: #000;
  text-align: center;
  &-primary {
    background-color: $primary3;
    border-color: $primary3;
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
  &-default {
    background-color: #fff;
    border-color: $btn-sub;
    color: #000;
  }
  &-second {
    background-color: $btn-second;
    border-color: $btn-second;
    color: #fff;
  }
  &-sub {
    background-color: $btn-sub;
    border-color: $btn-sub;
    color: #fff;
  }
  &-icon {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      display: block;
      z-index: 1;
      width: 24px;
      height: 24px;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
  &-delete {
    width: 1rem;
    height: 1rem;
    padding: 0;
    background: transparent url(../images/icon_kwd_delete.svg) center no-repeat;
  }
  &-text {
    background-color: transparent;
    &:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
  &-keyword {
    padding: 0.125rem 0;
    background-color: transparent;
    border: none;
  }
  &-filter {
    font-size: 0.875rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background: transparent url(../images/icon_dropdown.svg) right 0.25rem
      center no-repeat;
    background-size: 1.25rem;
  }
  &-more {
    font-size: 13px;
    color: #3f3f45;
    padding: 0.25rem 1.5rem 0.25rem 0.5rem;
    background: transparent url(../images/icon_chevron_right.svg) right center
      no-repeat;
    background-size: 1.5rem;
  }
  &-recommend {
    background-color: rgba(119, 49, 71, 0.9);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: calc(100% - 40px);
    height: 50px;
  }
  &-info {
    border: 1px solid $border-basic;
    color: $primary-text;
    font-size: 0.875rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    height: 36px;
    margin-top: 0.5rem;
  }
  &:disabled {
    cursor: auto;
    border-color: #ddd;
    background-color: #fafafa;
    color: #c0c0c0;
    &:active {
      box-shadow: none;
    }
  }
  &-primary,
  &-default {
    &:active {
      box-shadow: 0 0 2px 3px rgb(255, 218, 213);
    }
  }
  &-sub {
    &:active {
      box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
    }
  }

  &-stamp {
    border: 1px solid $btn-stamp;
    background-color: transparent;
    color: $btn-stamp;
    &.completed,
    &:disabled {
      background-color: $btn-stamp;
      color: #fff;
    }
  }
  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    height: 24px;
  }
}

.checkbox {
  display: inline-flex;
  position: relative;
  & + .checkbox {
    margin-left: 0.5rem;
  }
  input[type="checkbox"] {
    position: absolute;
    z-index: 9;
    width: 1px;
    height: 1px;
    left: 0.5rem;
    top: 50%;
    & + label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: relative;
      z-index: 10;
      font-size: 0.875rem;
      color: #000;
      &::before {
        content: "";
        display: block;
        background: url(../images/btn_check.svg) center no-repeat;
        width: 1.5rem;
        height: 1.5rem;
      }
      // 버튼형 체크박스
      &.btn-check {
        border: 1px solid $checkbox;
        padding: 0.5rem 1rem;
        border-radius: 3rem;
        background-color: #fff;
        &::before {
          content: none;
        }
      }
    }
    &:checked + label {
      &::before {
        content: ""; //background-image 처리해도 접근성 문제 없는 듯?
        border-color: $checkbox;
        background-color: $checkbox;
        color: #fff;
        text-align: center;
        box-shadow: 0px 0px 0px 3px $shadow;
      }
      &.btn-check {
        background-color: $checkbox;
        color: #fff;
        box-shadow: 0 0 0 3px $shadow;
        &::before {
          content: none;
        }
      }
    }
  }
}

.radio {
  display: inline-flex;
  position: relative;
  & + .radio {
    margin-left: 0.5rem;
  }
  input[type="radio"] {
    position: absolute;
    z-index: 9;
    width: 1px;
    height: 1px;
    left: 0.5rem;
    top: 50%;
    & + label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: relative;
      z-index: 10;
      font-size: 0.875rem;
      &::before {
        content: "";
        display: block;
        background: url(../images/btn_radio.svg) center no-repeat;
        border-radius: 50%;
        background-color: #fff;
        width: 1.5rem;
        height: 1.5rem;
      }
      span {
        padding-top: 3px;
      }
      &.btn-radio {
        border: 1px solid $checkbox;
        padding: 0.5rem 1rem;
        border-radius: 3rem;
        background-color: #fff;
        &::before {
          content: none;
        }
      }
    }
    &:checked + label {
      &::before {
        content: ""; //background-image 처리해도 접근성 문제 없는 듯?
        border-color: $checkbox;
        background-color: $checkbox;
        color: #fff;
        text-align: center;
        box-shadow: 0px 0px 0px 3px $shadow;
      }
      &.btn-radio {
        background-color: $checkbox;
        color: #fff;
        box-shadow: 0 0 0 3px $shadow;
        &::before {
          content: none;
        }
      }
    }
  }
}

.switch {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    left: 50%;
    top: 50%;
    & + .btn-switch {
      width: 56px;
      height: 28px;
      border-radius: 50px;
      display: block;
      background-color: #ddd;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: 3px;
        top: 3px;
        transition: all 0.5s;
        box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.03);
      }
    }
    &:checked + .btn-switch {
      background-color: $btn-primary;
      &::before {
        transform: translateX(28px);
      }
    }
  }
}

input:not(input[type="file"]):focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px $input-focus;
}

input::placeholder {
  color: #9696a3;
  font-size: 0.875rem;
  font-weight: 100;
}

textarea,
select,
input[type="text"],
input[type="search"],
input[type="date"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="email"] {
  border: 1px solid $border-basic;
  background-color: #fff;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border-radius: 6px;
  height: 46px;
}

textarea:focus,
select:focus,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="search"]:focus,
input[type="search"]:active,
input[type="date"]:focus,
input[type="date"]:active,
input[type="search"]:focus,
input[type="search"]:active,
input[type="text"]:focus,
input[type="text"]:active {
  border-color: $border-focus;
}

input[type="search"] {
  appearance: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input:disabled {
  color: #5f5f67;
  background-color: #f2f3f9;
  &:active {
    border: 1px solid #dcdcec;
  }
}

input[type="range"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ff0000 0%,
    #d5d4d3 0%,
    #d5d4d3 100%
  );
  border: none;
  cursor: pointer;
  border-radius: 0;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none !important;
  }
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid $btn-primary;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid $btn-primary;
  box-shadow: 2px 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

input[type="date"] {
  position: relative;
  background: url(../images/icon_calendar.svg) right 1rem center no-repeat;
  background-size: 1.5rem;
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
  }
  &::-webkit-date-and-time-value {
    text-align: left;
    color: #000;
  }
  &::before {
    content: attr(placeholder);
  }
  &:valid::before {
    display: none;
  }
}

select {
  width: 100%;
  height: 45px;
  appearance: none;
  background-color: transparent;
  color: #000;
  padding: 0.75rem 2rem 0.75rem 1rem;
  background: transparent url(../images/icon_select.svg) right 1rem center
    no-repeat;
}

.input {
  position: relative;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  margin-bottom: $form-bottom;
  &.inline {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    label {
      width: 100%;
    }
    input[type="text"],
    input[type="tel"] {
      flex: 1;
    }
    .btn {
      font-size: 0.875rem;
    }
  }
  &.inline-r {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    label {
      width: 100%;
    }
    .radio {
      flex: 1;
    }
  }

  label {
    font-size: 13px;
    display: flex;
    align-items: center;
    line-height: 22px;
  }
  input[type="search"],
  input[type="text"] {
    padding: 0.75rem 1.75rem 0.75rem 0.75rem;
  }
  textarea {
    resize: none;
  }
  .counter {
    position: absolute;
    right: 0.25rem;
    top: 0;
    font-size: 0.75rem;
    .current {
      color: $em-text;
    }
    .max {
      &::before {
        content: " / ";
      }
    }
    &.time {
      color: $em-text;
      top: 50%;
      right: 10px;
      font-size: 13px;
      transform: translateY(-50%);
    }
  }
  .btn-delete {
    visibility: hidden;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    &.active {
      visibility: visible;
    }
  }
  .guide {
    position: absolute;
    bottom: -20px;
    text-indent: 0.25rem;
  }
  .input-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    input[type="date"],
    .select {
      width: 50%;
      height: 45px;
      margin-bottom: 0;
      .btn {
        height: 100%;
        font-size: 0.875rem;
      }
    }
    .calendar {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-150%, -50%);
    }
  }
}

.search-keyword {
  position: relative;
  z-index: 100;
  .btn {
    z-index: 1000;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    &.btn-delete {
      right: 1rem;
      display: none;
    }
  }
  input[type="search"] {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding: 0.75rem 3rem 0.75rem 1rem;
    border-color: #dcdcec;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
  }
}

.file {
  margin-bottom: $form-bottom;
  label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &.attachment {
      display: block;
      border: 1px solid $border-basic;
      border-radius: 0.25rem;
      padding: 1rem 2rem;
      background-color: #f2f3f6;
      text-align: center;
      font-size: 0.875rem;
      span {
        &::before {
          content: "+";
          display: block;
          font-size: 1.5rem;
          margin-bottom: 0.25rem;
        }
      }
    }
    .search {
      text-align: center;
      display: block;
      background-color: $btn-sub;
      border-color: $btn-sub;
      color: #fff;
      padding: 0 1rem;
      height: 45px;
      border-radius: 0.25rem;
      line-height: 45px;
      font-size: 0.875rem;
    }
  }
  .file-list {
    margin-top: 0.5rem;
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;
      color: $sub-text;
      text-indent: 0.25rem;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
        max-width: calc(100% - 2rem);
      }
    }
  }
  .preview {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    &-item {
      overflow: hidden;
      flex: 1;
      max-width: 33%;
      height: 6rem;
      position: relative;
      img {
        border: 1px solid $border-basic;
        border-radius: 0.25rem;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .btn-delete {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        z-index: 100;
      }
    }
  }
}

.select {
  margin-bottom: $form-bottom;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  label {
    font-size: 13px;
    display: flex;
    align-items: center;
    line-height: 22px;
  }
  .btn {
    width: 100%;
    color: #000;
    text-align: left;
    border: 1px solid $border-basic;
    background: transparent url(../images/icon_select.svg) right 10px center
      no-repeat;
    &:active {
      border-color: $border-focus;
      box-shadow: 0px 0px 0px 3px $input-focus;
      &::after {
        content: none;
      }
    }
  }
}

.select-options {
  padding: 0.5rem 0;
  position: relative;
  z-index: 500;
  &_item {
    button {
      border: none;
      width: 100%;
      text-align: left;
      background-color: transparent;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      color: #000;
      &:active {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.filter {
  border-bottom: 1px solid $border-basic;
  padding: 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// modal, popup
.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.3s;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
  &.on {
    visibility: visible;
    opacity: 1;
  }
}

// bottom sheet 형
.popup-slide {
  background-color: #fff;
  width: 100%;
  position: absolute;
  bottom: -100%;
  border-radius: 1rem 1rem 0 0;
  visibility: hidden;
  transition: all 0.5s;
  max-height: 460px;
  overflow-y: auto;
  &.show {
    bottom: 0;
    visibility: visible;
  }
  &.select {
    max-height: 230px;
    margin-bottom: 0;
  }
  .btn-fired {
    color: #fff;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    z-index: 1001;
  }
}

.popup-cnt {
  width: 92%;
  height: 100%;
  max-height: 80%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: auto;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  opacity: 0;
  &.show {
    //visibility: visible;
    animation: show_pop 0.3s forwards;
  }
}

.popup-filter {
  .filter-close {
    text-align: right;
    padding: 0.5rem;
    border-bottom: 1px solid $border-basic;
  }
}

.btm-sheet {
  .btn {
    font-size: 0.875rem !important;
  }
  &_head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.5rem 0 0;
    .title {
      font-weight: 600;
    }
    .btn {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-25%);
      background: url(../images/icon_x.svg) center no-repeat;
    }
  }
  &_body {
    padding: 1rem;
    line-height: 1.2;
    .section-title {
      margin-bottom: 0.5rem;
    }
    .ctx {
      margin-bottom: 1rem;
    }
    .input {
      margin-bottom: 0.5rem;
    }
  }
  &_tail {
    padding: 1.5rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .btn {
      &.close {
        width: 100px !important;
      }
      &:not(.close) {
        flex: 1;
      }
    }
  }
  &-notice {
    .btm-sheet {
      &_body {
        height: 260px;
        padding: 0;
        .swiper-slide {
          height: 260px;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_tail {
        justify-content: space-between;
        padding: 0.5rem 1rem;
        .btn-text {
          padding: 0;
          font-size: 0.75rem;
          flex: none;
        }
      }
    }
  }
}

.msg-popup {
  width: 92%;
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  .message {
    padding: 2rem;
    .title {
      text-align: center;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p {
      line-height: 1.2;
    }
  }
  .msg-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $border-basic;
    button {
      flex: 1;
      border-color: transparent;
      background-color: transparent;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      color: #000;
      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.confirm {
        color: $em-text;
        border-left: 1px solid $border-basic;
      }
    }
  }
}

// tabs
.tab-container {
  margin-bottom: 1rem;
}
.tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  .tab-item {
    flex: 1;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    .tab-button {
      border: 1px solid transparent;
      background-color: transparent;
      display: block;
      width: 100%;
      text-align: center;
      padding: 0.5rem;
      font-size: 1rem;
      color: #000;
      &:active {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
    &.active {
      border-bottom-color: $em-text;
      .tab-button {
        color: $em-text;
        font-weight: bold;
      }
    }
  }
}
.tab-contents {
  border-radius: 0.25rem;
  line-height: 1.2;
}

.badge {
  display: inline-block;
  border-radius: 24px;
  font-size: 0.75rem;
  height: 22px;
  line-height: 22px;
  color: #fff !important;
  padding: 0 0.5rem;
  &.category {
    background-color: $badge-category;
  }
  &.proceeding {
    background-color: $badge-proceeding;
  }
  &.completed {
    background-color: $badge-completed;
  }
  &.disabled {
    background-color: $sub-text;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  &.new {
    background-color: $em-text;
    padding: 0;
    width: 14px;
    height: 14px;
    font-weight: bold;
    line-height: 16px;
    display: inline-flex;
    &::after {
      content: "N";
      font-size: 8px;
      margin: auto;
    }
  }
}

.banners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .banner {
    display: block;
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    &-title {
      font-family: "GangwonState";
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      font-size: 7vw;
      color: #fff;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      overflow: hidden;
      padding: 1rem 1.5rem 1rem 1rem;
    }
    dl {
      position: relative;
      z-index: 20;
      flex: 1;
    }
    dt {
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      em {
        color: $banner-em;
      }
    }
    dd {
      line-height: 1.2;
      color: #282d38;
      font-size: 13px;
      span {
        display: block;
        text-align: right;
        font-size: 0.75rem;
        margin-top: 1rem;
      }
    }
    &-img {
      width: 5rem;
      height: 5rem;
      position: relative;
      z-index: 20;
      &_bg {
        // 배경이미지
        position: absolute;
        display: block;
        z-index: 10;
        width: 100%;
        height: 100%;
        left: 0;
        object-fit: cover;
      }
    }
    &.ban00 {
      background-color: #c43e10;
      height: 148px;
    }
    &.ban01 {
      background-color: #000;
    }
    &-ticket {
      background-color: rgba(229, 206, 145, 0.3);
    }
    &-edu {
      background-color: rgba(228, 94, 99, 0.3);
    }
    &-snow {
      background: rgba(157, 176, 244, 0.3) url(../images/bg_banner_snow.svg)
        right center no-repeat;
    }
    &-sign {
      background-color: $bg-primary;
      a {
        dl {
          dt,
          dd {
            color: #fff;
          }
        }
      }
    }
    &-movin {
      background-color: #ad2a4b;
      dt,
      dd {
        color: #fff;
      }
    }
  }
}

.section-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.terms-agree {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: 0.5rem;
}

.audio-player {
  border: 1px solid $border-basic;
  background-color: #f2f3f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  .timeline {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    span {
      font-size: 0.75rem;
    }
  }
  .btn {
    &.icon.play,
    &.icon.volume {
      transition: none;
    }
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .card-item {
    border: 1px solid $border-basic;
    border-radius: 0.5rem;
    padding: 0.5rem;
    p {
      line-height: 1.2;
    }
  }
}

.not-found {
  border: 1px solid $border-basic;
  background-color: #f2f3f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  gap: 1rem;
  &::before {
    content: "";
    display: block;
    background: url(../images/icon_not_found.svg) center no-repeat;
    background-size: 2rem;
    width: 3rem;
    height: 3rem;
  }
}

.middle-menu {
  margin-left: -1rem;
  margin-right: -1rem;
  border-top: 1px solid $border-basic;
  &_item {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid $border-basic;
    background: url(../images/icon_chevron_right.svg) right 1rem center
      no-repeat;
    background-size: 1.5rem;
    &:active {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}

// 공지사항 등 보드형태
.brd-list,
.brd-detail {
  &_item {
    border: 1px solid $border-basic;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    a {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
    }
  }
  .badge {
    width: 60px;
    text-align: center;
    padding: 0.5rem 0 0.35rem;
  }
  .brd-title {
    line-height: 1.2;
  }
  .brd-date {
    @include textDate;
  }
  .brd-manager {
    font-size: 0.875rem;
  }
}
.brd-detail {
  margin-left: -1rem;
  margin-right: -1rem;
  dt {
    padding: 1rem;
    border-bottom: 1px solid $border-basic;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  dd {
    padding: 1rem;
    line-height: 1.2;
  }
}

.brd-info {
  dt {
    font-weight: bold;
    padding: 0.25rem 1rem 0;
    font-weight: bold;
    font-size: 0.875rem;
  }
  dd {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .title {
    font-weight: bold;
    line-height: 1.2;
  }
  .content {
    border-top: 1px solid $border-basic;
    p {
      white-space: pre-wrap;
      line-height: 1.2;
    }
    img {
      width: 100%;
      height: auto;
    }
    .result {
      line-height: 1.2;
      padding: 1rem 0;
    }
  }
}

.air {
  &-content {
    margin-bottom: 1rem;
    border: 1px solid $border-basic;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  &-summary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .title {
      margin-right: auto;
    }
    .value {
      font-weight: bold;
    }
    .unit {
      color: $sub-text;
    }
  }
}

.one-maps {
  height: 80vh;
  overflow: hidden;
  position: relative;
  .info {
    padding: 1rem;
    text-align: center;
    line-height: 1.2;
    @include textDate();
  }
}

.categories {
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem 1rem;
  gap: 0.5rem;
  .radio {
    flex: 1 0 160px;
    label {
      width: 100% !important;
    }
  }
}

// swiper
.swiper-pagination {
  &.custom {
    transform: translate3d(0, -180%, 0);
  }
  &-bullet {
    border: 1px solid #9696a3;
    background: transparent !important;
    opacity: 1 !important;
    margin: 0 3px !important;
    &.swiper-pagination-bullet-active {
      background: #9696a3 !important;
      width: 1rem;
      border-radius: 4px;
    }
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  background-color: transparent;
  display: inline-block;
  &.s-large {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 2.5rem;
  }
  &.user {
    background-image: url(../images/icon_user.svg);
  }
  &.cart {
    background-image: url(../images/icon_shopping-cart.svg);
  }
  &.call {
    background-image: url(../images/icon_call.svg);
  }
  &.faq {
    background-image: url(../images/icon_faq.svg);
  }
  &.srch {
    background-image: url(../images/icon_search.svg);
  }
  &.calendar {
    background-image: url(../images/icon_calendar.svg);
  }
  &.info {
    background-image: url(../images/icon_info.svg);
  }
  &.map {
    background-image: url(../images/icon_location.svg);
  }
  &.location {
    background-image: url(../images/icon_location_w.svg);
  }
  &.like {
    background-image: url(../images/icon_like.svg);
  }
  &.like-fill {
    background-image: url(../images/icon_like_fill.svg);
  }
  &.share {
    background-image: url(../images/icon_share.svg);
  }
  &.download {
    background-image: url(../images/icon_download.svg);
  }
  &.play {
    background-image: url(../images/icon_play.svg);
  }
  &.pause {
    background-image: url(../images/icon_pause.svg);
  }
  &.volume {
    background-image: url(../images/icon_volume.svg);
  }
  &.muted {
    background-image: url(../images/icon_muted.svg);
  }
  &.close {
    background-image: url(../images/icon_x.svg);
  }
  &.lightning {
    background-image: url(../images/icon_weather_lightning.svg);
  }
  &.bell {
    background-image: url(../images/icon_bell.svg);
  }
  &.menu {
    background-image: url(../images/icon_menu.svg);
  }
  &.lost {
    background-image: url(../images/icon_not_found.svg);
  }
  &.next {
    background-image: url(../images/icon_chevron_right_w.svg);
  }
  &.target {
    background-image: url(../images/icon_map_current.svg);
  }
  &.sunny {
    background-image: url(../images/icon_w_sunny.svg);
  }
  &.recommend {
    background-image: url(../images/icon_recommend.svg);
  }
  &.all-menu {
    background-image: url(../images/icon_all_cate.svg);
  }
  &.new {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    background-image: url(../images/icon_new.svg);
  }
}

@keyframes show_pop {
  0% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
    z-index: -1;
  }
  60% {
    visibility: visible;
    transform: scale(1.05);
    opacity: 1;
    z-index: 1;
  }
  100% {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    z-index: 1;
  }
}
