<div class="popup popup-cnt" id="selectCnt">
  <ul class="select-options">
    <li class="select-options_item">
      <button type="button">리스트 옵션 1</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 2</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 3</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 4</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 5</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 6</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 7</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 8</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 9</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 10</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 11</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 12</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 13</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 14</button>
    </li>
    <li class="select-options_item">
      <button type="button">리스트 옵션 15</button>
    </li>
  </ul>
</div>
