<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>종로Pick 정화조 청소 신청</title>
    </head>
    <body>
        <table style="width:100%;border:0;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td>
                        <table style="width:100%;max-width:700px;margin:0 auto;border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="width:100%;background:#ad2a4b;border-radius:10px;padding:10px;box-sizing:border-box;">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#" target="_blank" style="display:inline">
                                                                <img src="http://192.168.0.10:3000/assets/images/logo_w.svg" alt="종로Pick 로고" style="display:inline-block">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <span style="background:#fff;color:#000;border-radius:6px;font-size:16px;line-height:20px;padding:4px 8px;">관리자</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:40px 0 0;font-size:24px;line-height:32px;font-weight:bold;text-align:center;">이메일 인증코드 발급</td>
                                </tr>
                                <tr>
                                    <td style="padding:16px 0 40px;font-size:14px;line-height:24px;text-align:center;">
                                        종로Pick 2단계 인증을 위한 이메일 인증코드를 발급하였습니다.<br>아래의 인증코드를 입력해주세요.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="width:230px;margin:0 auto;background:#f7f7fd;padding:20px;text-align:center;border-radius:10px;font-weight:bold;font-size:32px;line-height:32px;">123456</div>
                                    </td>
                                </tr>
                                <!-- 카피라이트 -->
                                <tr>
                                    <td style="text-align:center;font-size:14px;line-height:24px;padding:40px 0;">
                                        본 메일은 발신전용 메일로, 회신되지 않습니다.<br>Copyright (c) 2003. JONGNO-GU Office. Some Rights Reserved
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>