<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '내 계정 정보 수정', path: ['홈','p1','p2'], description: ''})
        <div class="content">
          <div class="detail">
            <ul class="lik-tb">
              <li class="lb">ID</li>
              <li>yesman</li>
              <li class="lb">비밀번호</li>
              <li>
                <button type="button" class="btn btn-third small" disabled>변경</button>
              </li> 
              <li class="lb">이름</li>
              <li>김종로</li>
              <li class="lb">연락처</li>
              <li>010-****-1234
                <button type="button" class="btn btn-third small">변경</button>
              </li>
              <li class="lb">부서</li>
              <li>
                <input type="text" class="input" value="사회복지과">
              </li>
              <li class="lb">직급</li>
              <li>
                <input type="text" class="input" value="팀장">
              </li>
              <li class="lb">이메일</li>
              <li>
                <input type="email" class="input" value="yesman@gmail.com">
              </li>
              <li class="lb">권한그룹</li>
              <li>중간관리자</li>
              <li class="lb">계정 등록일시</li>
              <li>2023-10-31 10:23</li>
              <li class="lb">계정 등록자</li>
              <li>master_01</li>
            </ul>
          </div>
          <div class="btns center">
            <button type="button" class="btn btn-third">수정</button>
            <button type="button" class="btn btn-second">저장</button>
          </div>
        </div>
    </main>

    @@include('./common/admin_scripts.html')
  </body>
</html>
