<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '건강이랑 서비스 권역 등록', path: { "p1": "", "p2": ""}, description: ''})
        <div class="content">

            <div class="detail">
                <div class="lik-tb_title">센터 정보</div>
                <ul class="lik-tb">
                    <li class="lb">권역</li>
                    <li>
                        <select class="select">
                            <option value="">1권역</option>
                            <option value="">2권역</option>
                            <option value="">3권역</option>
                            <option value="">4권역</option>
                            <option value="">5권역</option>
                            <option value="">6권역</option>
                        </select>
                    </li>
                    <li class="lb">담당자</li>
                    <li>
                        <button type="button" class="btn btn-second small">선택</button>
                    </li>
                    <li class="lb">연락처</li>
                    <li>
                        <div class="inline">
                            <input type="text" class="input" placeholder="입력">
                        </div>
                    </li>
                    <li class="lb">이메일</li>
                    <li>
                        <div class="inline">
                            <input type="email" class="input" placeholder="이메일 입력">
                        </div>
                    </li>
                    <li class="lb">위치</li>
                    <li>
                        <div class="inline">
                            <input type="text" class="input" placeholder="센터 위치 입력">
                        </div>
                    </li>
                    <li class="lb">비고</li>
                    <li>
                        <div class="inline">
                            <input type="text" class="input" placeholder="기타 사항 입력">
                        </div>
                    </li>
                </ul>

                <div class="lik-tb_title">관할 구역</div>
                <ul class="lik-tb">
                    <li class="lb lb-one">관할 구역</li>
                    <li>
                        <button type="button" class="btn btn-second small" data-role="popup" data-target="popupStatus">추가</button>
                        <div class="checkround-box">
                            <label class="checkround">
                                <input type="checkbox" checked>
                                <span>교남동</span>
                                <span class="icon close">
                                    <span class="sr-only">삭제</span>
                                </span>
                            </label>
                            <label class="checkround">
                                <input type="checkbox" checked>
                                <span>무악동</span>
                                <span class="icon close">
                                    <span class="sr-only">삭제</span>
                                </span>
                            </label>
                            <label class="checkround">
                                <input type="checkbox" checked>
                                <span>사직동</span>
                                <span class="icon close">
                                    <span class="sr-only">삭제</span>
                                </span>
                            </label>
                            <label class="checkround">
                                <input type="checkbox" checked>
                                <span>청운효자동</span>
                                <span class="icon close">
                                    <span class="sr-only">삭제</span>
                                </span>
                            </label>
                        </div>
                        <button type="button" class="btn btn-default small">선택 초기화</button>

                    </li>
                </ul>

            </div>

            <div class="btns center">
                <button type="button" class="btn btn-third">취소</button>
                <button type="button" class="btn btn-second">등록</button>
            </div>

        </div>
    </main>

    @@include('./common/dong_popup.html', {title: "행정동"})
    @@include('./common/admin_scripts.html')
  </body>
</html>