<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '이용 통계', path: {"p1":"",  "p2":""}, description: ''})     
        <div class="content">

            <!-- search -->
            <div class="search-container">
                <div class="search">
                    <div class="item">
                        <div class="label">
                            <label for="">기간 조회</label>
                        </div>
                        <div class="frm-date">
                            <div class="select-date">
                                <label>
                                    <input type="radio" name="abc" value="1" checked>
                                    <span>일</span>
                                </label>
                                <label>
                                    <input type="radio" name="abc" value="2">
                                    <span>주</span>
                                </label>
                                <label>
                                    <input type="radio" name="abc" value="3">
                                    <span>월</span>
                                </label>
                            </div>
                            <div class="date picker">
                                <input type="text" class="input" placeholder="시작일">
                              </div>
                              <div class="date picker">
                                <input type="text" class="input" placeholder="종료일">
                              </div>
                        </div>
                    </div>
                </div>
            <div class="search-btn">
                    <button type="button" class="btn btn-default small">초기화</button>
                    <button type="button" class="btn btn-second small">검색</button>
                </div>
            </div>

            <div class="chart">
                <h3 class="chart-title">이용 현황
                    <small>데이터는 1시간 단위로 누적됩니다. (총 24시간)</small>
                </h3>
                <div class="chart-container">
                    <!-- chart -->
                    <div id="chart"></div>
                </div>
            </div>

            <!-- 목록 -->
            <div class="list" id="list">
                <div class="list-head">
                    <div class="total">
                        전체 요약 (총 <em>7</em>)건
                    </div>
                    <div class="btns">
                        <button type="button" class="btn btn-second">엑셀 다운로드</button>
                    </div>
                </div>
                <div class="list-body">
                    <table class="tb-data tb-scroll tb-nocursor" id="statisticsList">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th scope="col">일자</th>
                                <th scope="col">페이지뷰</th>
                                <th scope="col">코스 완주증</th>
                                <th scope="col">거점 스탬프</th>
                                <th scope="col">번호표</th>
                                <th scope="col">건강이랑</th>
                                <th scope="col">정화조</th>
                                <th scope="col">제설함</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2023-11-21</td>
                                <td class="align-right">43,431</td>
                                <td class="align-right">121</td>
                                <td class="align-right">323</td>
                                <td class="align-right">132</td>
                                <td class="align-right">198</td>
                                <td class="align-right">45</td>
                                <td class="align-right">6</td>
                            </tr>
                            <tr>
                                <td>2023-11-20</td>
                                <td class="align-right">43,431</td>
                                <td class="align-right">121</td>
                                <td class="align-right">323</td>
                                <td class="align-right">132</td>
                                <td class="align-right">198</td>
                                <td class="align-right">45</td>
                                <td class="align-right">6</td>
                            </tr>
                            <tr>
                                <td>2023-11-19</td>
                                <td class="align-right">43,431</td>
                                <td class="align-right">121</td>
                                <td class="align-right">323</td>
                                <td class="align-right">132</td>
                                <td class="align-right">198</td>
                                <td class="align-right">45</td>
                                <td class="align-right">6</td>
                            </tr>
                            <tr>
                                <td>2023-11-18</td>
                                <td class="align-right">43,431</td>
                                <td class="align-right">121</td>
                                <td class="align-right">323</td>
                                <td class="align-right">132</td>
                                <td class="align-right">198</td>
                                <td class="align-right">45</td>
                                <td class="align-right">6</td>
                            </tr>
                            <tr>
                                <td>2023-11-17</td>
                                <td class="align-right">43,431</td>
                                <td class="align-right">121</td>
                                <td class="align-right">323</td>
                                <td class="align-right">132</td>
                                <td class="align-right">198</td>
                                <td class="align-right">45</td>
                                <td class="align-right">6</td>
                            </tr>
                            <tr>
                                <td>2023-11-16</td>
                                <td class="align-right">43,431</td>
                                <td class="align-right">121</td>
                                <td class="align-right">323</td>
                                <td class="align-right">132</td>
                                <td class="align-right">198</td>
                                <td class="align-right">45</td>
                                <td class="align-right">6</td>
                            </tr>
                            <tr>
                                <td>2023-11-15</td>
                                <td class="align-right">43,431</td>
                                <td class="align-right">121</td>
                                <td class="align-right">323</td>
                                <td class="align-right">132</td>
                                <td class="align-right">198</td>
                                <td class="align-right">45</td>
                                <td class="align-right">6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 세부 정보 -->
            <div class="stts">
                <div class="stts-box">
                    <h4>메뉴 페이지뷰</h4>
                    <div class="stts-list">
                        <table class="tb-data tb-scroll tb-nocursor clr-b" summary="" id="viewList">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th scope="col">순위</th>
                                    <th scope="col">메뉴 명</th>
                                    <th scope="col">페이지 뷰</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><div class="ellipsis">과태료 조회</div></td>
                                    <td>431</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><div class="ellipsis">교통현황</div></td>
                                    <td>422</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><div class="ellipsis">스마트 번호표</div></td>
                                    <td>321</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><div class="ellipsis">동네체육시설</div></td>
                                    <td>314</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><div class="ellipsis">건강이랑 서비스</div></td>
                                    <td>301</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><div class="ellipsis">대형 생활 폐기물 신고</div></td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td><div class="ellipsis">정화조 청소 예약</div></td>
                                    <td>297</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td><div class="ellipsis">종로 프로그램/강좌</div></td>
                                    <td>284</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td><div class="ellipsis">종로 핫라인</div></td>
                                    <td>253</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td><div class="ellipsis">CCTV</div></td>
                                    <td>156</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="stts-box">
                    <h4>종로맵 카테고리 페이지뷰</h4>
                    <div class="stts-list">
                        <div class="stts-list">
                            <table class="tb-data tb-scroll tb-nocursor clr-b" summary="" id="viewList2">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th scope="col">순위</th>
                                        <th scope="col">메뉴 명</th>
                                        <th scope="col">페이지 뷰</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><div class="ellipsis">종로 산책</div></td>
                                        <td>431</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><div class="ellipsis">공영 주차장</div></td>
                                        <td>422</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><div class="ellipsis">CCTV</div></td>
                                        <td>321</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><div class="ellipsis">동네체육시설</div></td>
                                        <td>314</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><div class="ellipsis">응급실</div></td>
                                        <td>301</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><div class="ellipsis">야간 운영 약국</div></td>
                                        <td>300</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td><div class="ellipsis">스마트제설함</div></td>
                                        <td>297</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td><div class="ellipsis">노인복지시설</div></td>
                                        <td>284</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td><div class="ellipsis"></div></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td><div class="ellipsis"></div></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
             
        </div>
    </main>
    @@include('./common/admin_scripts.html')
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        const options = {
            chart: {
                type: 'line',
                height: '300px',
                toolbar: {
                    show: false
                }
            },
            series: [
                {
                    name: '페이지 뷰',
                    type: 'column',
                    data: [43341,53941,39945,43341,53941,39945,43341]
                },
                {
                    name: '코스 완주증',
                    type: 'line',
                    data: [20, 29, 37, 36, 44, 45, 50]
                }, {
                    name: '거점 스탬프',
                    type: 'line',
                    data: [323,253,262,323,253,262,323]
                }
            ],
            stroke: {
                width: [0, 3, 3],
                curve:  'smooth'
            },
            dataLabels: {
                enabled: true,
                enabledOnSeries: [1,2]
            },
            labels: ['2023-11-15','2023-11-16','2023-11-17','2023-11-18','2023-11-19','2023-11-20', '2023-11-21'],
            // xaxis: {
            //     type: 'datetime'
            // },
            yaxis: [
                {
                    seriesName: "페이지 뷰",
                    title: {
                        text: "페이지 뷰"
                    },
                },
                {
                    opposite: true,
                    seriesName: "코스 완주증",
                    title: {
                        text: ""
                    }
                },
                {
                    seriesName: "거점 스탬프",
                    show: false,
                    title: {
                        text: ""
                    }
                }
            ],
        }

        const chart = new ApexCharts(document.querySelector('#chart'), options)
        chart.render();


        const chartTypes = document.querySelectorAll('input[name="chart-type"]')
        chartTypes.forEach(function(chartType) {
            chartType.onchange = function(e) {
                if (e.target.value === "1") {
                    document.querySelector('#chart').style.display = 'block'
                    document.querySelector('#list').style.display = 'none'
                } else {
                    document.querySelector('#chart').style.display = 'none'
                    document.querySelector('#list').style.display = 'block'
                }
            }
        })
    </script>
  </body>
</html>