<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '탐방 코스 등록', path: {"p1":"",  "p2":""}, description: ''})
        <div class="content">

            <div class="detail">
                <ul class="lik-tb">
                    <li class="lb lb-one required">코스 명</li>
                    <li>
                        <div class="inline">
                            <input type="text" class="input" placeholder="입력" maxlength="30">
                        </div>
                    </li>
                    <li class="lb lb-one required">이미지</li>
                    <li>
                        <div class="attach-img">
                            <label>
                                <img src="" id="previewImg" style="display:none">
                                <input type="file" id="attachImg" accept="image/*">
                                <span>추가</span>
                            </label>
                        </div>
                        
                        <ul class="guide">
                            <li>5MB 이내 JPG, PNG, GIT 파일 업로드</li>
                        </ul>
                        
                    </li>
                    <li class="lb lb-one required">코스 설명</li>
                    <li>
                        <textarea class="textarea" name="" id="" cols="30" rows="5" placeholder="입력"></textarea>
                    </li>
                    <li class="lb lb-one required">탐방 포인트</li>
                    <li>
                        <textarea class="textarea" name="" id="" cols="30" rows="5" placeholder="입력"></textarea>
                    </li>
                    <li class="lb lb-one required">운영 정보</li>
                    <li>
                        <textarea class="textarea" name="" id="" cols="30" rows="5"></textarea>
                    </li>
                    <li class="lb lb-one">코스 안내 자료</li>
                    <li>
                        <div class="file-box">
                            <label class="file">
                                <input type="file" class="input">
                                <span>파일추가</span>
                            </label>
                            <div class="file-info">
                                세종마을_B코스_골목길지도.pdf
                                <button type="button" class="btn btn-icon icon close">
                                    <span class="sr-only">파일삭제</span>
                                </button>
                            </div>
                        </div>

                        <ul class="guide">
                            <li>10Mb 이내 PDF, DOC, JPG 파일 업로드</li>
                        </ul>
                    </li>
                    <li class="lb lb-one">코스 안내 오디오</li>
                    <li>
                        <div class="file-box">
                            <label class="file">
                                <input type="file" class="input">
                                <span>파일추가</span>
                            </label>
                            <div class="file-info">
                                세종마을_B코드.mp3
                                <button type="button" class="btn btn-icon icon close">
                                    <span class="sr-only">파일삭제</span>
                                </button>
                            </div>
                        </div>
                        <ul class="guide">
                            <li>30Mb 이내 WAV, MP3, OGG 파일 업로드</li>
                        </ul>
                    </li>
                    <li class="lb lb-one required">코스 지도</li>
                    <li>
                        <div class="map"></div>
                    </li>
                </ul>
                
                <!-- 코스 거점 목록 -->
                <div class="list">
                    <div class="list">
                        <div class="list-head">
                            <div class="total">
                                Total <em>4</em>
                            </div>
                        </div>
                        <div class="list-body">
                            <table class="tb-data" summary="순서, 거점명, 이미지로 구분되는 표">
                                <caption>순서 거점명 이미지</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" id="all-check">
                                        </th>
                                        <th scope="col">순서</th>
                                        <th scope="col">거점명</th>
                                        <th scope="col">이미지</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>1</td>
                                        <td>
                                            <div class="ellipsis">낙원동 아구찜거리</div>
                                        </td>
                                        <td>
                                            <div class="thumb-img">
                                                <img src="../../assets/images/sample/sample_07.jpeg" alt="대체 텍스트">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btns detail">
                    <button type="button" class="btn btn-default small">순위 관리</button>
                    <button type="button" class="btn btn-third small">삭제</button>
                    <button type="button" class="btn btn-second small">추가</button>
                </div>
                
            </div>

            <div class="btns center">
                <button type="button" class="btn btn-third">취소</button>
                <button type="button" class="btn btn-second">등록</button>
            </div>
        </div>
    </main>

    <!-- popup -->
    <aside class="popup-bg popup-closable">
        <div class="popup">
            <div class="popup-head">
                <h3 class="title">거점 등록</h3>
                <button type="button" class="btn btn-icon icon close">
                    <span class="sr-only">팝업닫기</span>
                </button>
            </div>
            <div class="popup-body">
                <div class="search">
                    <div class="item">
                        <div class="label">
                            <label for="">거점명</label>
                        </div>
                        <div class="inline">
                            <input type="text" class="input" placeholder="입력">
                            <button type="button" class="btn btn-default">검색</button>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="list-head">
                        <div class="total">
                          Total <em>100</em>
                        </div>
                    </div>
                    <div class="list-body">
                        <table class="tb-data" summary="번호, 거점명, 최종수정일시로 구분되는 표">
                          <caption>번호 거점명 최종수정일시</caption>
                          <colgroup>
                            <col style="width: 20px">
                            <col style="width: 10%">
                            <col style="width: auto">
                            <col style="width: 30%">
                          </colgroup>
                          <thead>
                            <tr>
                              <th>
                                <input type="checkbox">
                              </th>
                              <th scope="col">번호</th>
                              <th scope="col">거점명</th>
                              <th scope="col">최종 수정일시</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>100</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>98</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>97</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>96</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>95</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>94</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>93</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>92</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>91</td>
                                <td>
                                    <div class="ellipsis">익선동 한옥마을</div>
                                </td>
                                <td>yyyy-mm-dd hh:mm</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>

                    <div class="btns center">
                        <button type="button" class="btn btn-second">선택</button>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    @@include('./common/admin_scripts.html')
  </body>
</html>