<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '탐방 코스 등록', path: {"p1":"",  "p2":""}, description: ''})
        <div class="content">

            <div class="detail">
                <ul class="lik-tb">
                    <li class="lb lb-one required">코스 명</li>
                    <li>
                        <div class="inline">
                            <input type="text" class="input" placeholder="입력" maxlength="30">
                        </div>
                    </li>
                    <li class="lb lb-one required">이미지</li>
                    <li>
                        <div class="attach-img">
                            <label>
                                <img src="" id="previewImg" style="display:none">
                                <input type="file" id="attachImg" accept="image/*">
                                <span>추가</span>
                            </label>
                        </div>
                        
                        <ul class="guide">
                            <li>5MB 이내 JPG, PNG, GIT 파일 업로드</li>
                        </ul>
                        
                    </li>
                    <li class="lb lb-one required">코스 설명</li>
                    <li>
                        <textarea class="textarea" name="" id="" cols="30" rows="5" placeholder="입력"></textarea>
                    </li>
                    <li class="lb lb-one required">탐방 포인트</li>
                    <li>
                        <textarea class="textarea" name="" id="" cols="30" rows="5" placeholder="입력"></textarea>
                    </li>
                    <li class="lb lb-one required">운영 정보</li>
                    <li>
                        <textarea class="textarea" name="" id="" cols="30" rows="5"></textarea>
                    </li>
                    <li class="lb">코스 안내 자료</li>
                    <li>
                        <input type="file" class="input">
                        <ul class="guide">
                            <li>10Mb 이내 PDF, DOC, JPG 파일 업로드</li>
                        </ul>
                    </li>
                    <li class="lb">코스 안내 오디오</li>
                    <li>
                        <input type="file" class="input">
                        <ul class="guide">
                            <li>30Mb 이내 WAV, MP3, OGG 파일 업로드</li>
                        </ul>
                    </li>
                    <li class="lb lb-one required">코스 지도</li>
                    <li>
                        <div class="map"></div>
                    </li>
                </ul>
                
                <!-- 코스 거점 목록 -->
                <div class="list">
                    <div class="list">
                        <div class="list-head">
                            <div class="total">
                                Total <em>4</em>
                            </div>
                        </div>
                        <div class="list-body">
                            <table class="tb-data" summary="순서, 거점명, 이미지로 구분되는 표">
                                <caption>순서 거점명 이미지</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" id="all-check">
                                        </th>
                                        <th scope="col">순서</th>
                                        <th scope="col">거점명</th>
                                        <th scope="col">이미지</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>1</td>
                                        <td>
                                            <div class="ellipsis">낙원동 아구찜거리</div>
                                        </td>
                                        <td>
                                            <div class="thumb-img">
                                                <img src="../../assets/images/sample/sample_07.jpeg" alt="대체 텍스트">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btns detail">
                    <button type="button" class="btn btn-default small">순위 관리</button>
                    <button type="button" class="btn btn-third small">삭제</button>
                    <button type="button" class="btn btn-second small">추가</button>
                </div>
                
            </div>

            <div class="btns center">
                <button type="button" class="btn btn-third">취소</button>
                <button type="button" class="btn btn-second">등록</button>
            </div>
        </div>
    </main>

    @@include('./common/admin_scripts.html')
  </body>
</html>