<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '공공 데이터 상세', path: { "p1": "", "p2": ""}, description: ''})
        <div class="content">
          <div class="detail">
            <ul class="lik-tb">
                <li class="lb">데이터 ID</li>
                <li>map_publicpark</li>
                <li class="lb">데이터 명</li>
                <li>공영 주차장</li>
                <li class="lb lb-one">데이터 설명</li>
                <li>
                  <div class="pre">종로맵 공영 주차장 지도
                  </div>
                </li>
                <li class="lb lb-one">메뉴</li>
                <li>
                    <div class="pre">종로맵 > 공영주차장</div>
                </li>
            </ul>
            <ul class="lik-tb">
                <li class="lb lb-one">데이터 파일</li>
                <li>
                  <a href="#">서울시 공영주차장 안내 정보.csv</a>
                </li>
                <li class="lb lb-one">데이터 출처</li>
                <li>
                  <div class="pre">서울 열린데이터 광장 데이터셋 – 서울시 공영주차장 안내 정보
https://data.seoul.go.kr/dataList/OA-13122/S/1/datasetView.do
                  </div>
                </li>
                <li class="lb">등록일시</li>
                <li>2023-10-24 10:30 / admin</li>
                <li class="lb">최종 수정일시</li>
                <li>2023-10-24 10:30 / admin</li>
            </ul>
          </div>

          <div class="btns detail">
            <button type="button" class="btn btn-default">목록</button>
            <button type="button" class="btn btn-second">수정</button>
          </div>

        </div>
    </main>

    @@include('./common/admin_scripts.html')
   
  </body>
</html>