<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '앱 버전 등록', path: { "p1": "", "p2": ""}, description: ''})
        <div class="content">
          <div class="detail">
            <ul class="lik-tb">
                <li class="lb lb-one required">OS</li>
                <li>
                    <div class="inline">
                        <label class="radio">
                            <input type="radio" name="os" value="1" id="os1" checked>
                            <span>안드로이드</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="os" value="2" id="os2">
                            <span>iOS</span>
                        </label>
                    </div>
                </li>
                <li class="lb required">플랫폼</li>
                <li>
                    <div class="inline">
                        <label class="radio">
                            <input type="radio" name="platform" value="1" id="platform1" checked>
                            <span>플레이스토어</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="platform" value="2" id="platform2">
                            <span>원스토어</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="platform" value="3" id="platform3">
                            <span>애플앱스토어</span>
                        </label>
                    </div>
                </li>
                <li class="lb">현재 배포 버전 </li>
                <li>1.0.2 <small>(배포일시 : 2023-10-21 10:30)</small></li>
                <li class="lb required">버전</li>
                <li>
                    <div class="inline version">
                        <input type="text" class="input" placeholder="0">.
                        <input type="text" class="input" placeholder="0">.
                        <input type="text" class="input" placeholder="0">
                    </div>
                </li>
                <li class="lb required">중요도</li>
                <li>
                    <div class="inline">
                        <label class="radio">
                            <input type="radio" name="important" value="1" id="important1">
                            <span>강제</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="important" value="2" id="important2" checked>
                            <span>일반</span>
                        </label>
                    </div>
                </li>
                <li class="lb lb-one required">내용</li>
                <li>
                    <textarea class="textarea" name="" id="" cols="30" rows="10" placeholder="업데이트 내용 입력 (최대 512자)"></textarea>
                </li>
                <li class="lb lb-one required">버전 적용일시</li>
                <li>
                    <div class="frm-date">
                        <div class="date picker">
                            <input type="text" class="input" placeholder="날짜선택  "> 
                        </div>
                        <select class="select">
                            <option value="">00</option>
                        </select>
                        <span>시</span>
                        <select class="select">
                            <option value="">00</option>
                        </select>
                        <span>분</span>
                    </div>
                </li>
                <li class="lb lb-one required">다운로드 URL</li>
                <li>
                    <div class="inline">
                        <input type="text" class="input" placeholder="관리용 URL">
                    </div>
                </li>
            </ul>
          </div>

          <div class="btns center">
            <button type="button" class="btn btn-default">취소</button>
            <button type="button" class="btn btn-primary">등록</button>
          </div>

        </div>
    </main>

    @@include('./common/admin_scripts.html')
  </body>
</html>