<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '공지사항 수정', path: {"p1":"",  "p2":""}, description: ''})
        <div class="content">

            <div class="detail">
                <ul class="lik-tb">
                    <li class="lb lb-one required">구분</li>
                    <li>
                        <div class="inline">
                            <select class="select">
                                <option value="">일반</option>
                                <option value="">시스템</option>
                            </select>
                            <div class="checkbox">
                                <input type="checkbox" id="check-important" checked>
                                <label for="check-important">중요</label>
                            </div>
                        </div>
                    </li>
                    <li class="lb lb-one required">제목</li>
                    <li>
                        <div class="inline">
                            <input type="text" class="input" placeholder="2자 이상, 20자 이하 입력" value="종로 가을 단풍축제 안내">
                        </div>
                    </li>
                    <li class="lb lb-one required">내용</li>
                    <li>Editor</li>
                    <li class="lb lb-one required">첨부파일</li>
                    <li>
                        <input type="file" class="input">
                    </li>
                </ul>

                <ul class="lik-tb">
                    <li class="lb">팝업</li>
                    <li>
                        <div class="inline">
                            <div class="radio">
                                <input type="radio" name="useYn" value="1" id="useYn1">
                                <label for="useYn1">미적용</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="useYn" value="2" id="useYn2" checked>
                                <label for="useYn2">적용</label>
                            </div>
                        </div>
                    </li>
                    <li class="lb">팝업 종류</li>
                    <li>
                        <div class="inline">
                            <div class="radio">
                                <input type="radio" name="ptype" value="1" id="ptype1">
                                <label for="ptype1">텍스트</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="ptype" value="2" id="ptype2" checked>
                                <label for="ptype2">이미지</label>
                            </div>
                        </div>
                    </li>
                    <li class="lb lb-one">팝업 내용</li>
                    <li>
                        <!-- text -->
                        <!-- <textarea class="textarea" name="" id="" cols="30" rows="10"></textarea> -->
                        <!-- image -->
                        <div class="thumb-img">
                            <img src="../../assets/images/sample/sample_07.jpeg">
                            <button type="button" class="btn-viewer">삭제</button>
                            <button type="button" class="btn-viewer">변경</button>
                        </div>
                    </li>
                    <li class="lb lb-one">팝업 노출 기간</li>
                    <li>
                        <div class="inline">
                            <input type="date" class="input" value="2023-01-01"> ~ <input type="date" class="input" value="2023-12-31">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="btns center">
                <button type="button" class="btn btn-third">취소</button>
                <button type="button" class="btn btn-second">등록</button>
            </div>

        </div>
    </main>

    @@include('./common/admin_scripts.html')
    <script>
       
    </script>
  </body>
</html>