<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '알림 메시지 관리', path: {"p1":"",  "p2":""}, description: ''})
        <div class="content">
            <div class="list">
                <div class="list-head">
                    <div class="total">
                        Total <em>8</em>
                    </div>
                </div>
                <div class="list-body">
                    <table class="tb-data" summary="템플릿, 제목, 메시지, 최종 수정일시, 최종 수정자로 구분되는 표">
                        <caption>템플릿, 제목, 메시지, 최종 수정일시, 최종 수정자</caption>
                        <colgroup>
                            <col style="width: 15%">
                            <col style="width: auto">
                            <col style="width: 10%">
                            <col style="width: 15%">
                            <col style="width: 15%">
                            <col style="width: 10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">템플릿</th>
                                <th scope="col">제목</th>
                                <th scope="col">대상</th>
                                <th scope="col">사용 여부</th>
                                <th scope="col">최종 수정일시</th>
                                <th scope="col">최종 수정자</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>스마트 번호표 발급</td>
                                <td>
                                    <div class="ellipsis">스마트 번호표가 발급되었습니다.</div>
                                </td>
                                <td>전체</td>
                                <td>사용 </td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td>스마트 번호표 알림</td>
                                <td>
                                    <div class="ellipsis">
                                        <span class="dynamic-msg">${발권 번호}</span>번 민원인님 <span class="dynamic-msg">${창구번호}</span>로 와주세요.
                                    </div>
                                </td>
                                <td>전체</td>
                                <td>사용 </td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td>정화조 청소 신청</td>
                                <td>
                                    <div class="ellipsis">정화조 청소 신청이 완료되었습니다.</div>
                                </td>
                                <td>전체</td>
                                <td>사용 </td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td>건강이랑 신청</td>
                                <td>
                                    <div class="ellipsis">건강이랑 서비스 신청이 완료되었습니다.</div>
                                </td>
                                <td>전체</td>
                                <td>사용 </td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td>1:1 문의 답변</td>
                                <td>
                                    <div class="ellipsis">문의하신 질문에 답변이 등록되었습니다.</div>
                                </td>
                                <td>회원</td>
                                <td>사용 </td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td>일자리 관심 키워드</td>
                                <td>
                                    <div class="ellipsis">일자리: <span class="dynamic-msg">${관심키워드}</span>의 새 글이 등록되었습니다.</div>
                                </td>
                                <td>전체</td>
                                <td>사용 </td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td>새소식 관심 키워드</td>
                                <td>
                                    <div class="ellipsis">새소식: <span class="dynamic-msg">${관심키워드}</span>의 새 글이 등록되었습니다.</div>
                                </td>
                                <td>전체</td>
                                <td>사용 </td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td>업데이트 알림</td>
                                <td>
                                    <div class="ellipsis">새로운 업데이트가 있습니다.</div>
                                </td>
                                <td>전체</td>
                                <td>사용 안 함</td>
                                <td>yyyy-mm-dd hh:mm</td>
                                <td>admin</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @@include('./common/pagination.html')
        </div>
    </main>


    <!-- popup -->
    <aside class="popup-bg popup-closable">
        <div class="popup" id="popupAlarmDetail">
            <div class="popup-head">
                <h4 class="title">알림 메시지</h4>
                <button type="button" class="btn btn-icon icon close btn-popup-close">
                    <span class="sr-only">팝업 닫기</span>
                </button>
            </div>
            <div class="popup-body">
                <div class="detail">
                    <ul class="lik-tb">
                        <li class="lb lb-one">카테고리</li>
                        <li>스마트 번호표</li>
                        <li class="lb lb-one">수신자</li>
                        <li>rocknroll</li>
                        <li class="lb lb-one">알림 발송일시</li>
                        <li>yyyy-mm-dd hh:mm</li>
                        <li class="lb lb-one">제목</li>
                        <li>
                            <div class="pre">스마트 번호표 알림 제목</div>
                        </li>
                        <li class="lb lb-one">메시지</li>
                        <li>
                            <div class="pre">발권 번호: 125
발권 번호와 창구를 확인해주시기 바랍니다.
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </aside>

    @@include('./common/admin_scripts.html')
    <script>
        $(function() {
            $('#alarmList').find('tr').on('click', function() {
                modal.open('popupAlarmDetail')
            })
        });
    </script>
  </body>
</html>