<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '메인 배너 상세', path: {"p1":"",  "p2":""}, description: ''})
        <div class="content">

            <div class="detail">
                <ul class="lik-tb">
                    <li class="lb lb-one">배너 위치</li>
                    <li>홈 메인</li>
                    <li class="lb lb-one">배너 명</li>
                    <li>종로 구민의 날</li>
                    <li class="lb lb-one">이미지</li>
                    <li>
                        <div class="thumb-img">
                            <img src="../../assets/images/sample/sample_07.jpeg" alt="">
                            <button type="button" class="btn-viewer">보기</button>
                        </div>
                    </li>
                    <li class="lb lb-one">대체 텍스트</li>
                    <li>종로 구민의 날 안내 배너</li>
                    <li class="lb lb-one">링크 종류</li>
                    <li>외부 웹</li>
                    <li class="lb lb-one">링크 URL</li>
                    <li>
                        <div class="inline" style="flex: 1 0 90%">
                            <input type="text" class="input" value=" http://www.jongno.go.kr/portal/bbs/selectBoardArticle.do?bbsId=BBSMSTR_000000000201&menuId=1753fdccx" disabled>
                            <button type="button" class="btn btn-icon icon link">
                                <span class="sr-only"></span>
                            </button>
                        </div>
                        <div class="link-market inline">
                            <dl>
								<dt class="google">구글 플레이스토어</dt>
								<dd>
									<a href="#" target="_blank">http://naver.com</a>
								</dd>
							</dl>
							<dl>
								<dt class="apple">애플 앱스토어</dt>
								<dd>
									<a href="#" target="_blank">http://naver.com</a>
								</dd>
							</dl>
                        </div>
                    </li>
                    <li class="lb">노출 여부</li>
                    <li>노출</li>
                    <li class="lb">노출 설정</li>
                    <li>기간 노출</li>
                    <li class="lb">노출 기간</li>
                    <li>2023-01-21 10:00~ 2023-12-31 23:59</li>
                    <li class="lb">노출 순서</li>
                    <li>2</li>

                    <li class="lb">등록일시</li>
                    <li>2023-10-30 10:30</li>
                    <li class="lb">등록자</li>
                    <li>master_01</li>
                    <li class="lb">최종 수정일시</li>
                    <li>2023-10-30 10:30</li>
                    <li class="lb">최종 수정자</li>
                    <li>master_01</li>
                </ul>
            </div>

            <div class="btns detail">
                <button type="button" class="btn btn-default">목록</button>
                <button type="button" class="btn btn-third">삭제</button>
                <button type="button" class="btn btn-second">수정</button>
            </div>

        </div>
    </main>

    @@include('./common/admin_scripts.html')
    <script>
        $(function() {
            // tab 이벤트
            $(".tab").on("click", function () {
                // 보여줄 tab-content id 가져오기
                const target = $(this).attr("aria-controls");

                // 탭 활성화 처리
                $(".tab").removeClass("active");
                $(this).addClass("active");

                // 다른 탭은 키보드 탭으로 접근하지 않게 해줌 (tabindex=-1)
                $(".tab").attr("tabindex", -1);
                $(this).removeAttr("tabindex");

                $(".tab-content").attr("hidden", true);
                $("#" + target).removeAttr("hidden");
            });
        })
    </script>
  </body>
</html>