<!DOCTYPE html>
<html lang="ko">
  @@include('./common/head.html')
  <body>
    @@include('./common/header.html')
    @@include('./common/navigation.html')
    <main class="main">
        @@include('./common/page_title.html', { title: '약관 관리', path: {"p1":"",  "p2":""}, description: ''})
        <div class="content">

            <!-- search -->
            <div class="search">
                <div class="item">
                    <div class="label">
                        <label for="">정책</label>
                    </div>
                    <div class="inline">
                        <select class="select">
                            <option value="">전체</option>
                        </select>
                    </div>
                </div>

                <div class="item">
                    <div class="label">
                        <label for="">배포일</label>
                    </div>
                    <div class="inline">
                        <input type="date" class="input"> ~ <input type="date" class="input">
                    </div>
                </div>
            </div>
            <div class="search-btn">
                <button type="button" class="btn btn-third small">초기화</button>
                <button type="button" class="btn btn-second small">검색</button>
            </div>
            <!-- search end -->

            <div class="list">
                <div class="list-head">
                  <div class="total">
                    Total <em>5</em>
                  </div>
                </div>
                <div class="list-body">
                  <table class="tb-data" summary="정책, 버전, 배포일, 최종수정자로 구분되는 표">
                    <caption>정책 버전 배포일 최종수정자</caption>
                    <colgroup>
                        <col style="width:auto;">
                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col style="width:20%;">
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">정책</th>
                        <th scope="col">버전</th>
                        <th scope="col">배포일</th>
                        <th scope="col">최종 수정자</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><div class="ellipsis">서비스 이용약관</div></td>
                        <td>1.0.5</td>
                        <td>yyyy-mm-dd</td>
                        <td>master_01</td>
                      </tr>
                      <tr>
                        <td><div class="ellipsis">개인정보 처리방침</div></td>
                        <td>1.0.5</td>
                        <td>yyyy-mm-dd</td>
                        <td>master_01</td>
                      </tr>
                      <tr>
                        <td><div class="ellipsis">위치 서비스 이용 약관</div></td>
                        <td>1.0.5</td>
                        <td>yyyy-mm-dd</td>
                        <td>master_01</td>
                      </tr>
                      <tr>
                        <td><div class="ellipsis">서비스 이용약관</div></td>
                        <td>1.0.4</td>
                        <td>yyyy-mm-dd</td>
                        <td>master_01</td>
                      </tr>
                      <tr>
                        <td><div class="ellipsis">개인정보 처리방침</div></td>
                        <td>1.0.4</td>
                        <td>yyyy-mm-dd</td>
                        <td>master_01</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              @@include('./common/pagination.html')

              <div class="btns">
                <a href="./08_001_terms_create.html" class="btn btn-second">등록</a>
              </div>

        </div>
    </main>

    @@include('./common/admin_scripts.html')
    <script>
    </script>
  </body>
</html>