<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>종로 스마트시티 모바일앱 퍼블리싱</title>
  </head>
  <body>
    <div class="pd-inner">
        <h2>종로 스마트시티 모바일앱 퍼블리싱</h2>

        <div class="search-top">
            <div class="per">
                <span id="currentPer">0</span> / 100%
            </div>
            <input type="text" placeholder="검색" id="search">
            <button type="button" id="btnDeleteKeyword" class="hidden">
                <img src="./assets/images/icon_kwd_delete.svg" alt="검색 키워드 삭제">
            </button>
        </div>

        <table class="tb-lined">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>화면ID</th>
                    <th colspan="4">페이지</th>
                    <th>파일명</th>
                    <th>작업일</th>
                    <th>진척률</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody id="workList">
                <tr>
                    <td class="idx"></td>
                    <td>공통요소</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./00_000_common_element.html" target="_blank">00_000_common_element.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>
                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td>홈</td>
                    <td>로그인</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./00_001_user_login.html" target="_blank">00_001_user_login.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>아이디 찾기</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./00_001_user_find_id.html" target="_blank">00_001_user_find_id.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>완료</td>
                    <td></td>
                    <td>
                        <a href="./00_001_user_find_id_completed.html" target="_blank">00_001_user_find_id_completed.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>비밀번호 찾기</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./00_001_user_find_pw.html" target="_blank">00_001_user_find_pw.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>완료</td>
                    <td></td>
                    <td>
                        <a href="./00_001_user_find_pw_completed.html" target="_blank">00_001_user_find_pw_completed.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td>대시보드</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./00_002_dashboard.html" target="_blank">00_002_dashboard.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="30" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본틀 생성</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td>내 계정 정보</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./00_003_mypage.html" target="_blank">00_003_mypage.html</a>
                    </td>
                    <td>2023-11-06</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>수정</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./00_003_mypage_modify.html" target="_blank">00_003_mypage_modify.html</a>
                    </td>
                    <td>2023-11-06</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>관리자 관리</td>
                    <td>관리자 설정</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./01_001_admin_mgmt.html" target="_blank">01_001_admin_mgmt.html</a>
                    </td>
                    <td>2023-11-06</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>생성</td>
                    <td></td>
                    <td>
                        <a href="./01_001_admin_create.html" target="_blank">01_001_admin_create.html</a>
                    </td>
                    <td>2023-11-06</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./01_001_admin_detail.html" target="_blank">01_001_admin_detail.html</a>
                    </td>
                    <td>2023-11-06</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>수정</td>
                    <td></td>
                    <td>
                        <a href="./01_001_admin_modify.html" target="_blank">01_001_admin_modify.html</a>
                    </td>
                    <td>2023-11-06</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>권한 그룹</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./01_001_admin_modify.html" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="00" max="100"></progress>
                    </td>
                    <td></td>
                </tr>

                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>회원 관리</td>
                    <td>회원 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./02_001_user_mgmt.html" target="_blank">02_001_user_mgmt.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>건강이랑 신청 내역</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./02_001_user_health_list.html" target="_blank">02_001_user_health_list.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./02_001_user_health_detail.html" target="_blank">02_001_user_health_detail.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/6: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>


                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>메뉴 관리</td>
                    <td>전체메뉴 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./03_001_menu_mgmt.html" target="_blank">03_001_menu_mgmt.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>종로맵 메뉴</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./03_001_jongno_map.html" target="_blank">03_001_jongno_map.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>페이지 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./03_003_page_mgmt.html" target="_blank">03_003_page_mgmt.html</a>
                    </td>
                    <td>2023-11-08</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>생성</td>
                    <td></td>
                    <td>
                        <a href="./03_003_page_create.html" target="_blank">03_003_page_create.html</a>
                    </td>
                    <td>2023-11-08</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./03_003_page_detail.html" target="_blank">03_003_page_detail.html</a>
                    </td>
                    <td>2023-11-08</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>수정</td>
                    <td></td>
                    <td>
                        <a href="./03_003_page_modify.html" target="_blank">03_003_page_modify.html</a>
                    </td>
                    <td>2023-11-08</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>



                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>외부 연동 메뉴</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>스마트 제설함 관리</td>
                    <td>제설함 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>민원 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>

                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>콘텐츠 관리</td>
                    <td>탐방 코스</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>코스 거점</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>검색어</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./05_003_keyword_mgmt.html" target="_blank">05_003_keyword_mgmt.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>배너</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./05_004_banner_mgmt.html" target="_blank">05_004_banner_mgmt.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td>
                       <ul>
                        <li>11/7: 기본 마크업</li>
                       </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>등록</td>
                    <td></td>
                    <td>
                        <a href="./05_004_banner_create.html" target="_blank">05_004_banner_create.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                       <ul>
                        <li>11/7: 기본 마크업</li>
                       </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./05_004_banner_detail.html" target="_blank">05_004_banner_detail.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                       <ul>
                        <li>11/7: 기본 마크업 (메인배너, 서브배너 타이틀만 다름)</li>
                       </ul>
                    </td>
                </tr>

                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>시스템 관리</td>
                    <td>공통코드 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>앱버전 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./06_002_app_version.html" target="_blank">06_002_app_version.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>등록</td>
                    <td></td>
                    <td>
                        <a href="./06_002_app_version_create.html" target="_blank">06_002_app_version_create.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./06_002_app_version_detail.html" target="_blank">06_002_app_version_detail.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>공공데이터 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>

                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>서비스 관리</td>
                    <td>공지사항 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./07_001_notice_mgmt.html" target="_blank">07_001_notice_mgmt.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>등록</td>
                    <td></td>
                    <td>
                        <a href="./07_001_notice_create.html" target="_blank">07_001_notice_create.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./07_001_notice_detail.html" target="_blank">07_001_notice_detail.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>수정</td>
                    <td></td>
                    <td>
                        <a href="./07_001_notice_modify.html" target="_blank">07_001_notice_modify.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>1:1문의</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./07_002_inquiry_mgmt.html" target="_blank">07_002_inquiry_mgmt.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./07_002_inquiry_detail.html" target="_blank">07_002_inquiry_detail.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>답변완료</td>
                    <td>
                        <a href="./07_002_inquiry_detail_replied.html" target="_blank">07_002_inquiry_detail_replied.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>FAQ</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./07_003_faq_mgmt.html" target="_blank">07_003_faq_mgmt.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업 / TOP10 관리 팝업 포함</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>등록</td>
                    <td></td>
                    <td>
                        <a href="./07_003_faq_create.html" target="_blank">07_003_faq_create.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./07_003_faq_detail.html" target="_blank">07_003_faq_detail.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>수정</td>
                    <td></td>
                    <td>
                        <a href="./07_003_faq_modify.html" target="_blank">07_003_faq_modify.html</a>
                    </td>
                    <td>2023-11-07</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/7: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>알림 메시지</td>
                    <td></td>
                    <td></td>
                    <td>
                       <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>

                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>운영 관리</td>
                    <td>약관 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./08_001_terms_mgmt.html" target="_blank">08_001_terms_mgmt.html</a>
                    </td>
                    <td>2023-11-08</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>등록</td>
                    <td></td>
                    <td>
                        <a href="./08_001_terms_create.html" target="_blank">08_001_terms_create.html</a>
                    </td>
                    <td>2023-11-08</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>상세</td>
                    <td></td>
                    <td>
                        <a href="./08_001_terms_detail.html" target="_blank">08_001_terms_detail.html</a>
                    </td>
                    <td>2023-11-08</td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>수정</td>
                    <td></td>
                    <td>
                        <a href="./08_001_terms_modify.html" target="_blank">08_001_terms_modify.html</a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="50" max="100"></progress>
                    </td>
                    <td>
                        <ul>
                            <li>11/8: 기본 마크업</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>사용이력 및 통계관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./08_001_terms_modify.html" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="00" max="100"></progress>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="idx"></td>
                    <td></td>
                    <td></td>
                    <td>청소 업체 관리</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="./08_001_terms_modify.html" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="00" max="100"></progress>
                    </td>
                    <td>
                    </td>
                </tr>


                <tr style="background-color: #fffceb;">
                    <td class="idx"></td>
                    <td></td>
                    <td>설문조사 관리</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" target="_blank"></a>
                    </td>
                    <td></td>
                    <td>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        const arrs = document.querySelectorAll('.idx');
        const bars = document.querySelectorAll('progress')
        const input = document.querySelector('#search')
        const dBtn = document.getElementById('btnDeleteKeyword')
        const wList = document.getElementById('workList')
        const trList = document.querySelectorAll('tbody tr')
        const currentPer = document.getElementById('currentPer')
        let searchResult = new Array()
    
        // 진척률 
        let average = 0;
        trList.forEach((tr, idx) => {
          const per = tr.querySelector('progress').value
          average += per;
          if (idx === trList.length - 1 ) {
            average = average / trList.length
            currentPer.innerText = average.toFixed(2);
          }
        })
    
        // row index 채번
        arrs.forEach((arr, index) => {
          arr.innerHTML = index + 1
          arr.parentElement.dataset.index = index
        })
    
        // progress value to text
        bars.forEach((bar, index) => {
          const val = bar.getAttribute('value')
          bar.innerHTML = `${val}%`
    
          let el = document.createElement('span')
          el.classList.add('percent')
          el.appendChild(document.createTextNode(`${val}%`))
          bar.after(el)
        })
    
        // 검색
        input.addEventListener('keydown', function(e) {
          if (e.isComposing || e.keyCode === 229) return; 
    
          const len = input.value.length;
          if (len > 0) {
            dBtn.classList.remove('hidden')
          } else {
            dBtn.classList.add('hidden')
          }
          
          if (e.key==='Enter') {
            // 검색 실행
            const keyword = input.value;
            const cells = document.querySelectorAll('td')
            cells.forEach((cell, index) => {
              let txt = cell.innerHTML;
              if (txt.indexOf(keyword) >-1) {
                // 일치 문자열 있음 
                const regex = new RegExp(keyword, "gi")
                txt = txt.replace(regex, "<em>" + keyword + '</em>')
                cell.innerHTML = txt
                // 부모노드 인덱스 저장
                searchResult.push(cell.parentElement.getAttribute('data-index'));
              }
            })
            console.log(searchResult)
            toggleTableRow();
          }
        })
    
        // 키워드 삭제 
        dBtn.addEventListener('click', function() {
          input.value = ''
          dBtn.classList.add('hidden')
          // 하이라이트 삭제
          const cells = document.querySelectorAll('td')
          cells.forEach((cell, index) => {
            const chd = cell.querySelectorAll('em')
            if (chd.length > 0) {
              let txt = cell.innerHTML;
              txt = txt.replace(/(<([^>]+)>)/gi, "");
              cell.innerHTML = txt;
              cell.parentNode.style.display = "none"
            }
          })
    
          searchResult = []
          toggleTableRow();
        })
    
        function toggleTableRow() {
          if (searchResult.length === 0) {
            trList.forEach((item) => {
              item.style.display = 'table-row'
            })
            return
          }
          trList.forEach((item) => {
            const targetIndex = item.getAttribute('data-index')
            item.style.display = 'none'
            if (searchResult.indexOf(targetIndex)> -1) {
              item.style.display = 'table-row'
            }
          })
        }
      </script>
  </body>
</html>
