<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: ""})

    <div class="container inner-full-padd">

        <!-- 상세 정보 -->
        <section class="brd-info">
            <div class="title">
                <div class="badges">
                    <span class="badge category">평생교육</span>
                    <span class="badge pre">교육예정</span>
                </div>
                <span class="brd-title ellipsis">[마감] 운종가 철학학교 '철학자의 삶과 죽음'</span>
                <span class="brd-num">신청자/모집인원 : <em>10</em><span class="total">/20</span></span>
            </div>
            <dl>
                <dt>분류</dt>
                <dd>평생교육&gt;평생교육&gt;인문교양교육</dd>
                <dt>신청기간</dt>
                <dd>2023-08-25 09:00 ~ 2023-09-07 18:00</dd>
            </dl>
            <dl>
                <dt>교육장소</dt>
                <dd>성균관대학교 600주년기념관 소향강의실 (6층)</dd>
                <dt>교육기간</dt>
                <dd>2023-10-12 ~ 2023-11-09</dd>
                <dt>강의시간</dt>
                <dd>13:30 ~ 16:00</dd>
                <dt>교육대상</dt>
                <dd>성인</dd>
                <dt>수강료</dt>
                <dd>20,000원</dd>
                <dt>부가비용</dt>
                <dd>없음</dd>
            </dl>
            <dl>
                <dt>강의구분</dt>
                <dd>오프라인</dd>
                <dt>특이사항</dt>
                <dd>-</dd>
            </dl>

            <div class="ext-info">
                <button type="button" class="btn btn-third">수강료 기준</button>
                <button type="button" class="btn btn-third">수강료 감면 기준</button>
                <button type="button" class="btn btn-third">대기자 신청 안내</button>
                <button type="button" class="btn btn-third">문의</button>
            </div>
        </section>

        <div class="btns under">
            <button type="button" class="btn btn-primary">교육 신청</button>
        </div>

    </div>

    <!-- popup -->
    <aside id="aside" class="popup-bg popup-closable">
        <div class="popup popup-slide" id="popupBtmSheet">
            <div class="btm-sheet">
                <div class="btm-sheet_head">
                    <button type="button" class="btn btn-icon close">
                    <img src="../assets/images/icon_x.svg" alt="팝업닫기" />
                    </button>
                </div>
                <div class="btm-sheet_body">
                    <div class="select">
                        <label>대면 여부</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter">전체</button>
                    </div>
                    <div class="select">
                        <label>개설반</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter2">전체</button>
                    </div>
                    <div class="select">
                        <label>진행 상태</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter3">전체</button>
                    </div>
                    <div class="input">
                        <label>검색어</label>
                        <input type="text" placeholder="검색어 입력">
                    </div>
                </div>
                <div class="btm-sheet_tail">
                    <button type="button" class="btn btn-primary">검색</button>
                </div>
            </div>
        </div>
    </aside>

    @@include('../common/script.html')
    <script>
        const aside = document.getElementById('aside')
        const popupBtmSheet = document.getElementById('popupBtmSheet')
        const btnFilter = document.getElementById('btnFilter')

        btnFilter.onclick = function() {
            aside.classList.add('on')
            popupBtmSheet.classList.add('show')
        }
       
    </script>
  </body>
</html>