<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: "전체메뉴"})

    <div class="container">
        
        <!-- tab area -->
        <div class="categories x-scroll">
            <div class="radio">
                <input type="radio" id="radio9" name="site-category" value="1" checked>
                <label for="radio9" class="btn-radio"><span>스마트 민원</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="radio8" name="site-category" value="2">
                <label for="radio8" class="btn-radio"><span>구민정보 서비스</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="radio7" name="site-category" value="3">
                <label for="radio7" class="btn-radio"><span>종로 생활 정보</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="radio6" name="site-category" value="4">
                <label for="radio6" class="btn-radio"><span>종로 교통 정보</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="radio5" name="site-category" value="5">
                <label for="radio5" class="btn-radio"><span>종로 건강 정보</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="radio4" name="site-category" value="6">
                <label for="radio4" class="btn-radio"><span>종로 소식/소통</span></label>
            </div>
            <div class="radio">
                <input type="radio" id="radio3" name="site-category" value="7">
                <label for="radio3" class="btn-radio"><span>앱 사용자 지원</span></label>
            </div>
        </div>
        <div class="site-maps inner-padd">
            <section class="site-map" id="menu1">
                <h3 class="map-category">스마트 민원</h3>
                <ul class="map-items">
                    <li class="map-item">
                        <a href="#">스마트 번호표 신청</a>
                    </li>
                    <li class="map-item">
                        <a href="#">비대면 환급 신청</a>
                    </li>
                    <li class="map-item">
                        <a href="#">스마트 번호표 조회</a>
                    </li>
                    <li class="map-item">
                        <a href="#">정화조 청소 예약 신청</a>
                    </li>
                    <li class="map-item">
                        <a href="#">종합 민원 통합 신청</a>
                    </li>
                    <li class="map-item">
                        <a href="#">교육/강좌 예약 신청</a>
                    </li>
                    <li class="map-item">
                        <a href="#">대형 생활 폐기물 신고</a>
                    </li>
                </ul>
            </section>

            <section class="site-map" id="menu2">
                <h3 class="map-category">구민 정보 서비스</h3>
                <ul class="map-items">
                    <li class="map-item">
                        <a href="#">종로 핫라인</a>
                    </li>
                    <li class="map-item">
                        <a href="#">종로구청 홈페이지</a>
                    </li>
                    <li class="map-item">
                        <a href="#">종로 수어상담</a>
                    </li>
                    <li class="map-item">
                        <a href="#">정부24</a>
                    </li>
                </ul>
            </section>

            <section class="site-map" id="menu3">
                <h3 class="map-category">종로 생활 정보</h3>
                <ul class="map-items">
                    <li class="map-item">
                        <a href="#">종로 산책 코스</a>
                    </li>
                    <li class="map-item">
                        <a href="#">주민센터</a>
                    </li>
                    <li class="map-item">
                        <a href="#">스마트 제설함</a>
                    </li>
                    <li class="map-item">
                        <a href="#">날씨</a>
                    </li>
                    <li class="map-item">
                        <a href="#">공공 와이파이</a>
                    </li>
                    <li class="map-item">
                        <a href="#">미세먼지</a>
                    </li>
                </ul>
            </section>

            <section class="site-map" id="menu4">
                <h3 class="map-category">종로 교통 정보</h3>
                <ul class="map-items">
                    <li class="map-item">
                        <a href="#">교통 과태료 조회</a>
                    </li>
                    <li class="map-item">
                        <a href="#">공영 주차장</a>
                    </li>
                    <li class="map-item">
                        <a href="#">버스 정류장</a>
                    </li>
                    <li class="map-item">
                        <a href="#">CCTV</a>
                    </li>
                </ul>
            </section>

            <section class="site-map"  id="menu5">
                <h3 class="map-category">종로 건강 정보</h3>
                <ul class="map-items">
                    <li class="map-item">
                        <a href="#">무더위 쉼터</a>
                    </li>
                    <li class="map-item">
                        <a href="#">휴일 운영 병원/약국</a>
                    </li>
                    <li class="map-item">
                        <a href="#">병원/약국</a>
                    </li>
                    <li class="map-item">
                        <a href="#">체육시설</a>
                    </li>
                </ul>
            </section>

            <section class="site-map"  id="menu6">
                <h3 class="map-category">종로 소식/소통</h3>
                <ul class="map-items">
                    <li class="map-item">
                        <a href="#">종로TV</a>
                    </li>
                    <li class="map-item">
                        <a href="#">설문조사</a>
                    </li>
                    <li class="map-item">
                        <a href="#">보도자료</a>
                    </li>
                </ul>
            </section>

            <section class="site-map"  id="menu7">
                <h3 class="map-category">앱 사용자 지원</h3>
                <ul class="map-items">
                    <li class="map-item">
                        <a href="#">긴급 신고 설정</a>
                    </li>
                    <li class="map-item">
                        <a href="#">공지사항</a>
                    </li>
                    <li class="map-item">
                        <a href="#">가이드북</a>
                    </li>
                    <li class="map-item">
                        <a href="#">이용약관</a>
                    </li>
                    <li class="map-item">
                        <a href="#">자주하는 질문</a>
                    </li>
                    <li class="map-item">
                        <a href="#">푸시 알림 설정</a>
                    </li>
                    <li class="map-item">
                        <a href="#">1:1 문의</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    @@include('../common/script.html')
    <script>
        $(document).ready(function() {
            $('input[name="site-category"]').on('change', function() {

                console.log($('#menu' + $(this).val()).offset());
                if($(this).is(':checked')) {
                    $('html, body').animate({
                        scrollTop: $('#menu' + $(this).val()).offset().top - 56 - 16 // header 높이만큼, 여백 -
                    }, 1000)
                }
            })
        })
    </script>
  </body>
</html>