<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more no-btm">
    
    @@include('../common/header_sub.html', {title: "종로 프로그램/강좌 신청"})

    <div class="container inner-full-padd">

        <!-- category -->
        <div class="edu-categories x-scroll">
            <button type="button" class="btn-edu active">
                <img src="../../assets/images/icon_edu1.svg">
                <span>종로구청<br>프로그램/강좌 소식</span>
            </button>
            <button type="button" class="btn-edu">
                <img src="../../assets/images/icon_edu2.svg">
                <span>종로교육포털<br>평생교육</span>
            </button>
            <button type="button" class="btn-edu">
                <img src="../../assets/images/icon_edu3.svg">
                <span>종로구 자치회관<br>교육 프로그램</span>
            </button>
            <button type="button" class="btn-edu">
                <img src="../../assets/images/icon_edu4.svg">
                <span>종로구 구민<br>정보화 교육</span>
            </button>
        </div>

        <!-- filter -->
        <!-- <div class="filter">
            <button type="button" class="btn btn-filter"  id="btnFilter">전체, 전체, 전체, 전체</button>
        </div> -->
        <div class="brd-search">
            <span class="opts">선택옵션 텍스트</span>
            <span class="icon srch" class="btn-popup" data-target="popupBtmSheet" id="btnFilter">
                <span class="sr-only">검색</span>
            </span>
        </div>

        <!-- list -->
        <div>
            <ul class="brd-list">
                <li class="brd-list_item">
                    <a href="#">
                        <div class="badges">
                            <span class="badge category">평생교육</span>
                            <span class="badge pre">교육예정</span>
                        </div>
                        <span class="brd-title ellipsis">[마감] 운종가 철학학교 '철학자의 삶과 죽음'</span>
                        <span class="brd-num">신청자/모집인원 : <em>10</em><span class="total">/20</span></span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <div class="badges">
                            <span class="badge category">평생교육</span>
                            <span class="badge end">접수마감</span>
                        </div>
                        <span class="brd-title ellipsis">2023년 경제 아카데미</span>
                        <span class="brd-num">신청자/모집인원 : <em>10</em><span class="total">/20</span></span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <div class="badges">
                            <span class="badge category">동네배움터</span>
                            <span class="badge basic">교육진행</span>
                        </div>
                        <span class="brd-title ellipsis">[동아시아 아카데미] 동아시아 회화사2-옛 그림을 만나는 즐거운 시간</span>
                        <span class="brd-num">신청자/모집인원 : <em>10</em><span class="total">/20</span></span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <div class="badges">
                            <span class="badge category">동네배움터</span>
                            <span class="badge end">접수마감</span>
                        </div>
                        <span class="brd-title ellipsis">[동아시아 아카데미] 동아시아 회화사1-유구한 전통과 멋</span>
                        <span class="brd-num">신청자/모집인원 : <em>10</em><span class="total">/20</span></span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <div class="badges">
                            <span class="badge category">평생교육</span>
                            <span class="badge ing">접수중</span>
                        </div>
                        <span class="brd-title ellipsis">2023 종로 행복 아카데미–나만의 행복 정원</span>
                        <span class="brd-num">신청자/모집인원 : <em>10</em><span class="total">/20</span></span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <div class="badges">
                            <span class="badge category">평생교육</span>
                            <span class="badge pre">교육예정</span>
                        </div>
                        <span class="brd-title ellipsis">2023 종로 행복 아카데미–나만의 행복 정원</span>
                        <span class="brd-num">신청자/모집인원 : <em>10</em><span class="total">/20</span></span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- popup -->
    <aside id="aside" class="popup-bg popup-closable">
        <div class="popup popup-slide show" id="popupBtmSheet">
            <div class="btm-sheet">
                <div class="btm-sheet_body">
                    <div class="btns">
                        <button type="button" class="btn btn-text reset">초기화</button>
                        <button type="button" class="btn btn-text">확인</button>
                    </div>
                    <div class="input">
                        <label>요일</label>
                        <div class="days">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox" name="" value="1">
                                <label for="checkbox"><span>월</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox2" name="" value="2">
                                <label for="checkbox2"><span>화</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox3" name="" value="3">
                                <label for="checkbox3"><span>수</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox4" name="" value="4">
                                <label for="checkbox4"><span>목</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox5" name="" value="5">
                                <label for="checkbox5"><span>금</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox6" name="" value="6">
                                <label for="checkbox6"><span>토</span></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox7" name="" value="7">
                                <label for="checkbox7"><span>일</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="select">
                        <label>교육구분</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter">전체</button>
                    </div>
                    <div class="select">
                        <label>접수현황</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter2">전체</button>
                    </div>
                    <div class="select">
                        <label>교육대상</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter3">전체</button>
                    </div>
                    <div class="input">
                        <label>검색</label>
                        <input type="text" placeholder="검색어 입력">
                    </div>
                </div>
            </div>
        </div>
    </aside>

    @@include('../common/script.html')
    <script>
        const aside = document.getElementById('aside')
        const popupBtmSheet = document.getElementById('popupBtmSheet')
        const btnFilter = document.getElementById('btnFilter')

        btnFilter.onclick = function() {
            aside.classList.add('on')
            popupBtmSheet.classList.add('show')
        }
       
        const btnEdues = document.querySelectorAll('.btn-edu');
        btnEdues.forEach((btnEdu) => {
            btnEdu.addEventListener('click', function() {
                btnEdues.forEach((b) => {
                    b.classList.remove('active');
                });
                btnEdu.classList.add('active')
            })
        })
    </script>
  </body>   
</html>