<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_blank.html')
    <div class="container inner-full-padd">

      <h3 class="detail-info_title">
        서울해바라기센터 상담지원팀 상담사 채용공고 (11/8, 24시까지)
      </h3>

      <section class="detail-info">
        <h4 class="title">기업정보</h4>
        <ul class="info-items">
          <li>
            <span class="lb">사업장명</span>
            <span class="dt">서울해바라기센터(대표자: 김재원)</span>
          </li>
          <li>  
            <span class="lb">업종</span>
            <span class="dt">사회복지 상담서비스 제공업</span>
          </li>
          <li>  
            <span class="lb">휴대폰번호</span>
            <span class="dt">01012341234</span>
          </li>
          <li>  
            <span class="lb">사업내용</span>
            <span class="dt">성폭력, 가정폭력 상담, 의료, 심리치료 지원</span>
          </li>
          <li>  
            <span class="lb">근로자수</span>
            <span class="dt">19명</span>
          </li>
          <li>  
            <span class="lb">가입보험</span>
            <span class="dt">고용보험, 산재보험, 건강보험, 국민연금</span>
          </li>
          <li>  
            <span class="lb">주소</span>
            <span class="dt">서울특별시 종로구 대학로 95 (연건동) 지하 101호</span>
          </li>
        </ul>
      </section>
      <section class="detail-info">
        <h4 class="title">구인정보</h4>
        <ul class="info-items">
          <li>  
            <span class="lb">모집직종</span>
            <span class="dt">상담 전문가</span>
          </li>
          <li>  
            <span class="lb">모집 인원</span>
            <span class="dt">1명</span>
          </li>
          <li>  
            <span class="lb">학력</span>
            <span class="dt">대학_대학교</span>
          </li>
          <li>  
            <span class="lb">고용형태</span>
            <span class="dt">계약직 (기간:24개월)</span>
          </li>
          <li>  
            <span class="lb">근무예정지</span>
            <span class="dt">서울특별시 종로구 대학로8가길 동숭빌딩 2층</span>
          </li>
          <li>  
            <span class="lb">필요경력</span>
            <span class="dt">1년 0개월</span>
          </li>
          <li>  
            <span class="lb">자격면허</span>
            <span class="dt">청소년상담사, 정신보건사회복지사</span>
          </li>
          <li>  
            <span class="lb">급여</span>
            <span class="dt">(최소)2,779만원</span>
          </li>
          <li>
            <span class="lb">직무 내용</span>
            <div class="dt">
<상담지원팀>
o 업무 내용
성폭력, 가정폭력 피해자 임상사례관리실천
- 성폭력, 가정폭력 피해자 상담
- 피해자 가족상담(가족치료)
- 집단상담
- 제반 통합사례관리 업무
o 근무형태
- 주5일 근무
o 근무시간 : 매주 월~금 09시~18시
※ 필요한 경우 야간？주말 근무 발생할 수 있음.
o 근무계약 : 채용 직후 ~ 2023년 12월 31일
(업무 역량 평가 후 근무계약 연장 가능)
o 근무지 : 서울해바라기센터 별관(상담치료소)
(서울시 종로구 대학로8가길 56 동숭빌딩 2층)
o 접수기간 : 2023년 10월 18일(수) ~ 2023년 11월 08일(수) 24:00
o 접수방법 : 이메일 접수 help@help0365.or.kr
o 문 의 : 상담지원팀 (☏02-745-0366)

            </div>
          </li>
        </ul>
      </section>
    </div>

    @@include('../common/script.html')
  </body>
</html>
