<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more no-btm">
    
    @@include('../common/header_sub.html', {title: "1인가구 프로그램"})

    <div class="container inner-full-padd">

      <div class="brd-search">
        <span class="opts">선택옵션 텍스트</span>
        <span class="icon srch" class="btn-popup" data-target="popupBtmSheet">
          <span class="sr-only">검색</span>
        </span>
      </div>      

      <ul class="brd-list">
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge pre">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge pre">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <span class="badges">
              <span class="badge category">뱃지1</span>
              <span class="badge end">뱃지2</span>
            </span>
            <span class="brd-title ellipsis">1인가구 캠페인 ‘1인가구 행복나눔 나누GO’ 참여자를 모집합니다. 신청자/모집인원 : 10/20</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
      </ul>

    </div>

    <aside class="popup-bg popup-closable on">
      <div class="popup popup-slide show" id="popupBtmSheet">
        <div class="btm-sheet">
          <div class="btm-sheet_body">
              <div class="btns">
                <button type="button" class="btn btn-text reset">초기화</button>
                <button type="button" class="btn btn-text">확인</button>
              </div>
              <div class="select">
                <label>카테고리</label>
                <button type="button" class="btn btn-select" data-target="selectFilter" id="filter">전체</button>
              </div>
              <div class="input">
                <label>성별</label>
                <div class="option-items">
                    <label class="radio ra-options">
                      <input type="radio" name="gender" value="0" checked>
                      <span>전체</span>
                    </label>
                    <label class="radio ra-options">
                      <input type="radio" name="gender" value="1">
                      <span>남성</span>
                    </label>
                    <label class="radio ra-options">
                      <input type="radio" name="gender" value="2">
                      <span>여성</span>
                    </label>
                </div>
              </div>
              <div class="input">
                <label>검색</label>
                <input type="text" placeholder="검색어 입력">
            </div>
          </div>
        </div>
      </div>
    </aside>

   
    @@include('../common/script.html')
    <script>
        const btnReserve = document.getElementById('btnReserve')
        const aside = document.getElementById('aside');

        btnReserve.addEventListener('click', function() {
          aside.classList.add('on')
          aside.querySelector('#popupBtmSheet').classList.add('show')
        })
    </script>
  </body>
</html>