<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: "종로핫라인"})

    <div class="container">

        <!-- TODO: 디자인 체크 -->
        <div class="hotline-banner">
            종로 핫라인
        </div>

        <div class="inner-full-padd">
            <div class="card-list">
                <div class="card-item hotline">
                    <strong>01</strong>
                    <img src="" alt="화상 핫라인 배너 이미지">
                    <p> 가까운 동 주민센터에서 화상 핫라인을 요청하세요!<br>줌(ZOOM) 화상 회의로 민원상담을 할 수 있어요.</p>
                </div>
                <div class="card-item hotline">
                    <strong>02</strong>
                    <img src="" alt="챗봇 핫라인 배너 이미지">
                    <p>종로구에 대해 궁금한 점이 있으시다면<br>민원 안내 챗봇 '종로구청 핫라인톡'에 물어보세요!</p>
                </div>
            </div>
        </div>
        
    </div>
    @@include('../common/script.html')
    <script>
        
    </script>
  </body>
</html>