<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="home">
    
    @@include('../common/header_sub.html', {title: "정화조 청소 예약"})

    <div class="container inner-full-padd">

        <!-- guide text & image -->
        <section class="pre-guide">
            <img src="../assets/images/img_clean.svg" alt="">
            <h3 class="pre-guide_title">정화조 청소 안내</h3>
            <p class="pre-guide_cont">
                정화조는 건물 등에 설치한 수세식 변기에서 발생하는 오수만 처리하기 위한 시설로 연 1회이상 정화조 내부 청소를 해야합니다. <br><br>
                연 1회이상 정화조 청소를 하지 않으면 10만원 ~ 100만원이하의 과태료 부과됩니다.
            </p>
            <p class="pre-guide_cont">
                <em>정화소 청소를 예약하면</em>
                관할 업체에서 신청인에게 전화로 예약확인을 한 후
                신청일에 정화조 청소를 진행하게 됩니다. 
            </p>
        </section>

        <div class="btns under">
            <button type="button" class="btn btn-primary" id="btnReserve">정화조 청소 예약</button>
        </div>
    </div>

    <!-- SMS 인증팝업 -->
    <aside id="aside" class="popup-bg popup-closable on">
        <div class="popup popup-slide show" id="popupBtmSheet">
            <div class="btm-sheet">
              <div class="btm-sheet_head"></div>
              <div class="btm-sheet_body">
                    <h3 class="section-title">SMS 인증</h3>
                    <p class="ctx">본인확인을 위해 휴대폰번호를 입력해주세요.</p>
                    <div class="input inline">
                        <input type="tel" placeholder="-없이 휴대폰번호 입력" aria-label="하이픈 없이 휴대폰번호를 입력해주세요." id="telNumber" maxlength="11">
                        <button type="button" class="btn btn-default">인증요청</button>
                    </div>
                    <div class="input">
                        <input type="tel" placeholder="인증번호 6자리" aria-label="인증번호 6자리를 입력해주세요." id="authNumber" maxlength="6">
                        <span class="counter time">02:59</span>
                    </div>
                    <div class="guide">
                        인증번호가 수신되지 않은 경우, 휴대폰 번호를 다시 확인하여 주세요.
                    </div>
              </div>

              <div class="btm-sheet_tail">
                <button type="button" class="btn btn-second close">닫기</button>
                <button type="button" class="btn btn-primary">확인</button>
              </div>
            </div>
          </div>
    </aside>


    @@include('../common/script.html')
    <script>
        $(document).ready(function() {
        })
    </script>
  </body>
</html>