<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_blank.html')

    <div class="container inner-full-padd">

        <div class="badges">
            <span class="badge category">평생교육</span>
            <span class="badge pre">교육예정</span>
        </div>

        <h3 class="detail-info_title">
            [마감] 운종가 철학학교 '철학자의 삶과 죽음'
        </h3>

        <div class="r-cnt">신청자/모집인원 : <em>10</em><span class="total">/20</span></div>

        <!-- 상세 정보 -->
        <section class="detail-info">
            <div class="edu-cont"><strong>2023 종로 행복 아카데미 제5탄!</strong>

[나만의 행복정원 만들기]참여자를 모집하오니 관심 있는 분들의 많은 참여 바랍니다.

<모집 개요>
○ 모집대상: 종로구민 및 생활인 누구나
○ 모집기간: 2023. 8. 21. 09:00부터 ~ 2023. 8. 27. 18:00까지
○ 모집인원: 선착순 15명
○ 결과발표: 2023. 8. 28.(월) 개별 문자 통보

<img src="../../assets/images/sample/sample_03.jpeg" alt="">
            </div>
        </section>

        <section class="detail-info">
            <ul class="info-items">
                <li>
                    <span class="lb">분류</span>
                    <span class="dt">평생교육&gt;평생교육&gt;인문교양교육</span>
                </li>
                <li>
                    <span class="lb">신청기간</span>
                    <span class="dt">2023-08-25 09:00 ~ 2023-09-07 18:00</span>
                </li>
            </ul>
        </section>

        <section class="detail-info">
            <ul class="info-items">
                <li>
                    <span class="lb">교육장소</span>
                    <span class="dt">성균관대학교 600주년기념관 소향강의실 (6층)</span>
                </li>
                <li>
                    <span class="lb">교육기간</span>
                    <span class="dt">2023-10-12 ~ 2023-11-09</span>
                </li>
                <li>
                    <span class="lb">강의시간</span>
                    <span class="dt">13:30 ~ 16:00</span>
                </li>
                <li>
                    <span class="lb">교육대상</span>
                    <span class="dt">성인</span>
                </li>
                <li>
                    <span class="lb">수강료</span>
                    <span class="dt">20,000원</span>
                </li>
                <li>
                    <span class="lb">부가비용</span>
                    <span class="dt">없음</span>
                </li>
            </ul>
        </section>
        <section class="detail-info">
            <ul class="info-items">
                <li>
                    <span class="lb">강의구분</span>
                    <span class="dt">오프라인</span>
                </li>
                <li>
                    <span class="lb">특이사항</span>
                    <span class="dt">-</span>
                </li>
            </ul>
        </section>

        <div class="btns under">
            <button type="button" class="btn btn-primary">교육 신청</button>
        </div>

    </div>

    <!-- popup -->
    <aside id="aside" class="popup-bg popup-closable">
        <div class="popup popup-slide" id="popupBtmSheet">
            <div class="btm-sheet">
                <div class="btm-sheet_head">
                    <button type="button" class="btn btn-icon close">
                    <img src="../assets/images/icon_x.svg" alt="팝업닫기" />
                    </button>
                </div>
                <div class="btm-sheet_body">
                    <div class="select">
                        <label>대면 여부</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter">전체</button>
                    </div>
                    <div class="select">
                        <label>개설반</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter2">전체</button>
                    </div>
                    <div class="select">
                        <label>진행 상태</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter3">전체</button>
                    </div>
                    <div class="input">
                        <label>검색어</label>
                        <input type="text" placeholder="검색어 입력">
                    </div>
                </div>
                <div class="btm-sheet_tail">
                    <button type="button" class="btn btn-primary">검색</button>
                </div>
            </div>
        </div>
    </aside>

    @@include('../common/script.html')
    <script>
        const aside = document.getElementById('aside')
        const popupBtmSheet = document.getElementById('popupBtmSheet')
        const btnFilter = document.getElementById('btnFilter')

        btnFilter.onclick = function() {
            aside.classList.add('on')
            popupBtmSheet.classList.add('show')
        }
       
    </script>
  </body>
</html>