<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="home">

    <div class="container inner-padd">
        <section class="pre-guide">
            <div class="reserve-completed">
                <img src="../assets/images/icon_done_sn.svg" class="done-img">
                <h3 class="pre-guide_title">스마트번호표 발권이<br>완료되었습니다.</h3>

                <ul class="reserve-info">
                    <li>
                        <span class="label">발권번호</span>
                        <span class="data">
                            <span class="ticket-num">125</span>
                        </span>
                    </li>
                    <li>
                        <span class="label">대기인수</span>
                        <span class="data">2</span>
                    </li>
                    <li>
                        <span class="label">발권일시</span>
                        <span class="data">2023-08-23 12:43</span>
                    </li>
                </ul>

                <p class="pre-guide_cont">
                    스마트 번호표 발급 정보는 카카오 알림톡에서 확인할 수 있습니다.
                </p>
                
            </div>
        </section>

        <div class="btns under">
            <a href="./00_home.html" role="button" class="btn btn-primary">확인</a>
        </div>
    </div>

  </body>
</html>