<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>종로Pick 정화조 청소 신청</title>
    </head>
    <body>
        <table style="width:100%;border:0;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td>
                        <table style="width:100%;max-width:700px;margin:0 auto;border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="width:100%;background:#ad2a4b;border-radius:10px;padding:10px;box-sizing:border-box;">
                                            <a href="https://www.jongno.go.kr/portalMain.do" target="_blank">
                                                <img src="http://192.168.0.10:3000/assets/images/logo_w.svg" alt="종로Pick 로고" style="display:block">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:40px 0 0;font-size:24px;line-height:32px;font-weight:bold;text-align:center;"> 
                                        정화조 청소를 <span style="color:#eb008b">신청</span>합니다.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:16px 0 40px;font-size:13px;line-height:18px;color:#3f3f45;text-align:center;">
                                        정화조 청소 진행에 대해서 신청자와 전화로 연락해주세요.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="background:#f7f7fd;padding:12px 20px;border-radius:10px;">
                                            <table style="border-collapse:collapse;width:100%;">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left;font-size:13px;line-height:18px;color:#5f5f67;font-weight:normal;width:100px;padding:8px 0">청소 예약 희망일</td>
                                                        <td style="font-size:16px;line-height:24px;font-weight:bold;">2023-10-30 12:20</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left;font-size:13px;line-height:18px;color:#5f5f67;font-weight:normal;width:100px;padding:8px 0">신청자명</td>
                                                        <td style="font-size:14px;line-height:20px;">홍길동</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left;font-size:13px;line-height:18px;color:#5f5f67;font-weight:normal;width:100px;padding:8px 0">휴대폰번호</td>
                                                        <td style="font-size:14px;line-height:20px;">010-1234-1234</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left;font-size:13px;line-height:18px;color:#5f5f67;font-weight:normal;width:100px;padding:8px 0">주소</td>
                                                        <td style="font-size:14px;line-height:20x;">서울시 종로구 공평동 281-1 00빌딩 000호</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left;font-size:13px;line-height:18px;color:#5f5f67;font-weight:normal;width:100px;padding:8px 0">신청일</td>
                                                        <td style="font-size:14px;line-height:20px;">2023-10-28 12:30</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left;font-size:13px;line-height:18px;color:#5f5f67;font-weight:normal;width:100px;padding:8px 0">메모</td>
                                                        <td style="font-size:14px;line-height:20px;">청소 좀 부탁드려용</td>
                                                    </tr>
                                                </tbody>
                                            </table>    
                                        </div>
                                    </td>
                                </tr>
                                <!-- 카피라이트 -->
                                <tr>
                                    <td style="text-align:center;font-size:14px;line-height:24px;padding:40px 0;">
                                        본 메일은 발신전용 메일로, 회신되지 않습니다.<br>Copyright (c) 2003. JONGNO-GU Office. Some Rights Reserved
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>