<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="home">

    <div class="container inner-padd">
        <section class="pre-guide">
            <div class="reserve-completed">
                <img src="../assets/images/icon_done_health.svg" class="done-img">
                <h3 class="pre-guide_title">건강이랑 서비스 신청이<br>완료되었습니다.</h3>

                <ul class="reserve-info">
                    <li>
                        <span class="label">성함</span>
                        <span class="data">2023-08-26 오후 2:30</span>
                    </li>
                    <li>
                        <span class="label">생년월일</span>
                        <span class="data">OOO</span>
                    </li>
                    <li>
                        <span class="label">주소</span>
                        <span class="data">서울특별시 종로구 공평동<br>281-1 00빌딩 000호</span>
                    </li>
                    <li>
                        <span class="label">병의원 진료 여부</span>
                        <span class="data">예</span>
                    </li>
                    <li>
                        <span class="label">연락처</span>
                        <span class="data">01012341234</span>
                    </li>
                    <li>
                        <span class="label">가구형태</span>
                        <span class="data">1.2인 가구</span>
                    </li>
                    <li>
                        <span class="label">신청자와 대상자의 관계</span>
                        <span class="data">자녀</span>
                    </li>
                </ul>

                <hr class="full-line">

                <ul class="reserve-info">
                    <li>
                        <span class="label">대리 신청자 성함</span>
                        <span class="data">OOO</span>
                    </li>
                    <li>
                        <span class="label">대리 신청자 연락처</span>
                        <span class="data">00000000000</span>
                    </li>
                </ul>

                <hr class="full-line">
                
                <ul class="reserve-info">
                    <li>
                        <span class="label">건강이랑 서비스를 알게 된 경로</span>
                        <span class="data">홍보물 리플렛</span>
                    </li>
                    <li>
                        <span class="label">보건소 또는 각 권역 내소 가능 여부</span>
                        <span class="data">예</span>
                    </li>
                </ul>

                <p class="pre-guide_cont">
                    서비스 신청 정보는 거주 지역 서비스 센터로 전달되며, 
                    원활한 업무 진행을 위해, 담당자가 예약 신청 내역을
                    확인 후 개별 연락을 드릴 예정입니다.
                    개별 연락 후 예약 확정됩니다. 감사합니다.
                </p>
                
            </div>
        </section>

        <div class="btns under">
            <a href="./00_home.html" role="button" class="btn btn-primary">확인</a>
        </div>


    </div>

  </body>
</html>