<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/head.html')
        <link rel="stylesheet" href="../assets/css/home.css"></link>
    </head>
    <body class="home no-btm">
        
        @@include('../common/header_sub.html', {title: "쓰레기 배출 안내"})

        <div class="container inner-full-padd">
            <section class="pre-guide">
                <img src="../assets/images/img_clean_jn.svg" alt="">
                <h3 class="pre-guide_title">쓰레기 배출 요일</h3>
                <p class="pre-guide_cont">
                    누구나 지번만 알면 배출요일을 쉽게 확인할 수 있습니다. 여러분과 함께 깨끗한 종로구를 만들어갑니다.
                </p>
            </section>
            <!-- list -->
            <div class="day-search">
                <div class="select">
                    <button type="button" class="btn btn-select" data-target="selectCnt">도로명 주소</button>
                </div>
                <div class="input">
                    <button type="button" class="btn btn-icon">
                        <span class="icon srch">
                            <span class="sr-only">검색</span>
                        </span>
                    </button>
                    <input type="text" placeholder="주소 입력 (동, 번지수 입력)">
                </div>
            </div>
            <div>
                <ul class="brd-list">
                    <li class="brd-list_item">
                        <div class="day-info">
                            <ul class="address">
                                <li>[도로명] 북촌로 101</li>
                                <li>[지번] 가회동 1-1</li>
                            </ul>
                            <div class="day-title">
                                <span>일, 화, 목</span>
                                <span>19:00 ~ 21:00</span>
                            </div>
                            <span class="cmp">삼창기업(주)</span>
                        </div>
                    </li>
                    <li class="brd-list_item">
                        <div class="day-info">
                            <ul class="address">
                                <li>[도로명] 북촌로 101</li>
                                <li>[지번] 가회동 1-1</li>
                            </ul>
                            <div class="day-title">
                                <span>일, 화, 목</span>
                                <span>19:00 ~ 21:00</span>
                            </div>
                            <span class="cmp">삼창기업(주)</span>
                        </div>
                    </li>
                    <li class="brd-list_item">
                        <div class="day-info">
                            <ul class="address">
                                <li>[도로명] 북촌로 101</li>
                                <li>[지번] 가회동 1-1</li>
                            </ul>
                            <div class="day-title">
                                <span>일, 화, 목</span>
                                <span>19:00 ~ 21:00</span>
                            </div>
                            <span class="cmp">삼창기업(주)</span>
                        </div>
                    </li>
                    <li class="brd-list_item">
                        <div class="day-info">
                            <ul class="address">
                                <li>[도로명] 북촌로 101</li>
                                <li>[지번] 가회동 1-1</li>
                            </ul>
                            <div class="day-title">
                                <span>일, 화, 목</span>
                                <span>19:00 ~ 21:00</span>
                            </div>
                            <span class="cmp">삼창기업(주)</span>
                        </div>
                    </li>
                    <li class="brd-list_item">
                        <div class="day-info">
                            <ul class="address">
                                <li>[도로명] 북촌로 101</li>
                                <li>[지번] 가회동 1-1</li>
                            </ul>
                            <div class="day-title">
                                <span>일, 화, 목</span>
                                <span>19:00 ~ 21:00</span>
                            </div>
                            <span class="cmp">삼창기업(주)</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

       

        @@include('../common/script.html')
        <script>
            
        </script>
    </body>
</html>