<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: "알림"})

    <div class="container inner-padd">
       <div class="alarms">
            <ul class="alarm-list">
                <li>
                    <a href="#" class="alarm-item">
                        <h3 class="alarm-title">알림 제목입니다</h3>
                        <span class="alarm-date">1분 전</span>
                        <div class="alarm-content">
                            알림 내용입니다. 알림 내용입니다.<br>
                            알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. <br>
                            알림 내용입니다. 
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="alarm-item">
                        <h3 class="alarm-title">알림 제목입니다</h3>
                        <span class="alarm-date">10분 전</span>
                        <div class="alarm-content">
                            알림 내용입니다. 알림 내용입니다.<br>
                            알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. <br>
                            알림 내용입니다. !
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="alarm-item">
                        <h3 class="alarm-title">알림 제목입니다</h3>
                        <span class="alarm-date">2023-09-18 10:30</span>
                        <div class="alarm-content">
                            알림 내용입니다. 알림 내용입니다.<br>
                            알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. 알림 내용입니다. <br>
                            알림 내용입니다. 
                        </div>
                    </a>
                </li>
            </ul>
       </div>
    </div>
    @@include('../common/script.html')
    <script>
        $(document).ready(function() {
        })
    </script>
  </body>
</html>