<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: "일자리"})
    <div class="container inner-full-padd">
      
      <div class="brd-search">
        <span class="opts">선택옵션 텍스트</span>
        <span class="icon srch" class="btn-popup" data-target="popupBtmSheet">
          <span class="sr-only">검색</span>
        </span>
      </div>

      <ul class="brd-list">
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="brd-label">서울해바라기센터</span>
            <span class="brd-title">서울해바라기센터 상담지원팀 상담사 채용 공고</span>
            <span class="brd-date">yyyy-mm-dd ~ yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="brd-label">서울해바라기센터</span>
            <span class="brd-title">서울해바라기센터 상담지원팀 상담사 채용 공고</span>
            <span class="brd-cont">(연봉)2,799만원</span>
            <span class="brd-date">yyyy-mm-dd ~ yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="brd-label">서울해바라기센터</span>
            <span class="brd-title">서울해바라기센터 상담지원팀 상담사 채용 공고</span>
            <span class="brd-cont">(연봉)2,799만원</span>
            <span class="brd-date">yyyy-mm-dd ~ yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="brd-label">서울해바라기센터</span>
            <span class="brd-title">서울해바라기센터 상담지원팀 상담사 채용 공고</span>
            <span class="brd-cont">(연봉)2,799만원</span>
            <span class="brd-date">yyyy-mm-dd ~ yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="brd-label">서울해바라기센터</span>
            <span class="brd-title">서울해바라기센터 상담지원팀 상담사 채용 공고</span>
            <span class="brd-cont">(연봉)2,799만원</span>
            <span class="brd-date">yyyy-mm-dd ~ yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="brd-label">서울해바라기센터</span>
            <span class="brd-title">서울해바라기센터 상담지원팀 상담사 채용 공고</span>
            <span class="brd-cont">(연봉)2,799만원</span>
            <span class="brd-date">yyyy-mm-dd ~ yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="brd-label">서울해바라기센터</span>
            <span class="brd-title">서울해바라기센터 상담지원팀 상담사 채용 공고</span>
            <span class="brd-cont">(연봉)2,799만원</span>
            <span class="brd-date">yyyy-mm-dd ~ yyyy-mm-dd</span>
          </a>
        </li>
      </ul>
    </div>

    <aside id="aside" class="popup-bg popup-closable">
      @@include("../popup/popup_bottom_sheet.html")
    </aside>
    
    @@include('../common/script.html')
  </body>
</html>
