<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: "새소식"})
    <div class="container inner-full-padd">

      <div class="news-category">
        <div class="radio">
          <input type="radio" id="radio9" name="sample-radio2" value="1" checked>
          <label for="radio9" class="btn-radio"><span>공지</span></label>
        </div>
        <div class="radio">
            <input type="radio" id="radio8" name="sample-radio2" value="2">
            <label for="radio8" class="btn-radio"><span>고시/공고</span></label>
        </div>
        <div class="radio">
            <input type="radio" id="radio7" name="sample-radio2" value="3">
            <label for="radio7" class="btn-radio"><span>입법예고</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="radio9" name="sample-radio2" value="4">
          <label for="radio9" class="btn-radio"><span>채용</span></label>
        </div>
      </div>
      
      <div class="brd-search">
        <span class="opts">선택옵션 텍스트</span>
        <span class="icon srch" class="btn-popup" data-target="popupBtmSheet">
          <span class="sr-only">검색</span>
        </span>
      </div>

      <ul class="brd-list">
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">건축과</span>
            </div>
            <span class="brd-title ellipsis">한옥철거자재 재활용은행 교육 체험프로그램 모집</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">도시녹지과</span>
            </div>
            <span class="brd-title ellipsis">인왕산 산불피해자 산림복원사업 타당성평가 용역 사업 인왕산 산불피해자 산림복원사업 타당성평가 용역 사업</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">건축과</span>
            </div>
            <span class="brd-title ellipsis">한옥철거자재 재활용은행 교육 체험프로그램 모집</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">건축과</span>
            </div>
            <span class="brd-title ellipsis">한옥철거자재 재활용은행 교육 체험프로그램 모집</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">건축과</span>
            </div>
            <span class="brd-title ellipsis">한옥철거자재 재활용은행 교육 체험프로그램 모집</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">건축과</span>
            </div>
            <span class="brd-title ellipsis">한옥철거자재 재활용은행 교육 체험프로그램 모집</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">건축과</span>
            </div>
            <span class="brd-title ellipsis">한옥철거자재 재활용은행 교육 체험프로그램 모집</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="#">
            <div class="badges">
              <span class="badge category">건축과</span>
            </div>
            <span class="brd-title ellipsis">한옥철거자재 재활용은행 교육 체험프로그램 모집</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        
      </ul>
    </div>

    <aside id="aside" class="popup-bg popup-closable">
      @@include("../popup/popup_bottom_sheet.html")
    </aside>
    
    @@include('../common/script.html')
  </body>
</html>
