<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="more">
    @@include('../common/header_sub.html', {title: '종합민원 통합신청'})
    <div class="container">
        
        <!-- filter -->
        <div class="filter">
            <button type="button" class="btn btn-filter"  id="btnFilter">전체, 제목, 전체</button>
        </div>

        <!-- list -->
        <div class="inner-full-padd">
            <ul class="brd-list">
                <li class="brd-list_item">
                    <a href="#">
                        <!-- TODO: 디자인에 따라 상태값 추가 -->
                        <span class="badge category">진행중</span>
                        <!-- NOTICE: 타이틀 한줄 처리 시 .ellipsis 적용, 두줄: .ellipsis2 -->
                        <span class="brd-title ellipsis">2023 종로 행복 아카데미 - 나만의 행복 정원 (테라리움) 만들기</span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <span class="badge category">진행중</span>
                        <span class="brd-title ellipsis">종로구, 「걸어서 지구 한 바퀴」 프로그램 운영 관련 모집 안내</span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <span class="badge category">진행중</span>
                        <span class="brd-title ellipsis">종로싱글홈케어(종로구 1인가구 지원 신청) 모집 안내</span>
                        <span class="brd-date">2023-08-21 09:00 ~ 2023-08-27 18:00</span>
                    </a>
                </li>
                <li class="brd-list_item">
                    <a href="#">
                        <span class="badge disabled">마감</span>
                        <span class="brd-title ellipsis">프로그램명</span>
                        <span class="brd-date">YYYY-MM-DD hh:mm ~ YYYY-MM-DD hh:mm</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- popup -->
    <!-- aside내에 팝업 2개 이상 띄워야하는 경우 .popup-multi 추가 -->
    <aside id="aside" class="popup-bg popup-closable on">
        <div class="popup popup-slide show" id="popupBtmSheet">
            <div class="btm-sheet">
                <div class="btm-sheet_head">
                    <button type="button" class="btn btn-icon close">
                    <img src="../assets/images/icon_x.svg" alt="팝업닫기" />
                    </button>
                </div>
                <div class="btm-sheet_body">
                    <div class="select">
                        <label>진행상태</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter">전체</button>
                    </div>
                    <div class="select">
                        <label>검색 선택</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter2">전체</button>
                    </div>
                    <div class="input">
                        <label>검색어</label>
                        <input type="text" placeholder="검색어 입력">
                    </div>
                </div>
                <div class="btm-sheet_tail">
                    <button type="button" class="btn btn-primary">검색</button>
                </div>
            </div>
        </div>
    </aside>

    @@include('../common/script.html')
    <script>
        const aside = document.getElementById('aside')
        const popupBtmSheet = document.getElementById('popupBtmSheet')
        const btnFilter = document.getElementById('btnFilter')
        const filter = document.getElementById('filter')

        // TODO: 필터 옵션은 다음과 같은 형식으로 인자를 넘긴다.
        const selOptions = [
            { key:1, text:'전체', value: 0},
            { key:2, text:'접수중', value: 1},
            { key:3, text:'접수마감', value: 2},
            { key:4, text:'교육중', value: 3},
            { key:5, text:'교육마감', value: 4},
        ]

        window.onload = function() {
            // filter select 예제
            getFilterOptions(selOptions, (res) => {
                console.log('button click callback')
                console.log(`value is: ${res.value}`)
                console.log(`text is: ${res.text}`)
                filter.innerText = res.text;
            })
        }

        btnFilter.onclick = function() {
            aside.classList.add('on')
            popupBtmSheet.classList.add('show')
        }
    </script>
  </body>
</html>