<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="home">
    
    <div class="container inner-padd">
        <section class="pre-guide">
            <div class="reserve-completed">
                <img src="../assets/images/icon_done_clean.svg" class="done-clean"/>
                <h3 class="pre-guide_title">정화조 청소 예약 신청이<br>완료되었습니다.</h3>
                
                <ul class="reserve-info">
                    <li>
                        <span class="label">청소 신청일</span>
                        <span class="data">2023-08-26 오후 2:30</span>
                    </li>
                    <li>
                        <span class="label">신청자명</span>
                        <span class="data">OOO</span>
                    </li>
                    <li>
                        <span class="label">휴대폰번호</span>
                        <span class="data">000-0000-0000</span>
                    </li>
                    <li>
                        <span class="label">주소</span>
                        <span class="data">서울특별시 종로구 공평동<br>281-1 00빌딩 000호</span>
                    </li>
                    <li>
                        <span class="label">청소업체</span>
                        <span class="data">종복환경개발(주)</span>
                    </li>
                </ul>
                <p class="pre-guide_cont">
                    예약 정보는 하단에 표시된
                    거주지역 담당 청소 업체로 전달되며,
                    원활한 업무 진행을 위해, 담당 청소 업체에서
                    신청자에게 전화로 연락하여 안내를 드립니다. 
                </p>
            </div>
        </section>

        <div class="btns under">
            <a href="./00_home.html" role="button" class="btn btn-primary">확인</a>
        </div>
      
    </div>

    @@include('../common/script.html')
    <script>
        $(document).ready(function() {
        })
    </script>
  </body>
</html>