<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/home.css"></link>
  </head>
  <body class="home type-b">
    <header id="header" class="main">
      <h1 class="logo">
        <a href="#" role="button">
          <img src="../../assets/images/logo.png" alt="서울의심장 다시뛰는 종로" />
        </a>
      </h1>

      <div class="hd-right flex">
        <a href="#" role="button" class="btn btn-icon">
          <span class="new-alarm"></span>
          <span class="icon bell">
            <span class="sr-only">알림 내역보기</span>
          </span>
        </a>
        <a href="#" role="button" class="btn btn-icon">
          <span class="icon menu">
            <span class="sr-only">메뉴 전체보기</span>
          </span>
        </a>
      </div>
    </header>
    <div class="container"> 
    </div>
    @@include('../common/navigation.html')
  </body>
</html>
