<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/head.html')
        <link rel="stylesheet" href="../assets/css/map.css"></link>
    </head>
    <body class="more">
        @@include('../common/header_sub.html', {title: '종로산책 코스 추천'})
        <div class="container inner-padd">
           <section class="card-list">
            <div class="card-item">
                <ul class="course-info">
                    <li>
                        <div class="course-thumb">
                            <img src="../assets/images/sample/sample_03.jpeg" alt="낙원동 아구찜거리 이미지 설명">
                        </div>
                    </li>
                    <li>
                        <dl>
                            <dt>낙원/익선동 낭만 코스</dt>
                            <dd>
                                <div class="course-btns socials">
                                    <button type="button" class="btn btn-icon" id="btnLike">
                                        <span class="icon like">
                                            <span class="sr-only">코스 좋아요</span>
                                        </span>
                                    </button>
                                    <span class="like-count" id="likeCount">2,311</span>
                                    <button type="button" class="btn btn-icon">
                                        <span class="icon share">
                                            <span class="sr-only">공유하기</span>
                                        </span>
                                    </button>
                                </div>
                                <p class="course-text ellipsis-2">
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                </p>
                                <div class="btns">
                                    <a href="#" role="button" class="btn btn-default">코스 보기</a>
                                    <button type="button" class="btn btn-sub">완주증</button>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="card-item">
                <ul class="course-info">
                    <li>
                        <div class="course-thumb">
                            <img src="../assets/images/sample/sample_03.jpeg" alt="낙원동 아구찜거리 이미지 설명">
                        </div>
                    </li>
                    <li>
                        <dl>
                            <dt>낙원/익선동 낭만 코스</dt>
                            <dd>
                                <div class="course-btns socials">
                                    <button type="button" class="btn btn-icon" id="btnLike">
                                        <span class="icon like">
                                            <span class="sr-only">코스 좋아요</span>
                                        </span>
                                    </button>
                                    <span class="like-count" id="likeCount">2,311</span>
                                    <button type="button" class="btn btn-icon">
                                        <span class="icon share">
                                            <span class="sr-only">공유하기</span>
                                        </span>
                                    </button>
                                </div>
                                <p class="course-text ellipsis-2">
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                </p>
                                <div class="btns">
                                    <a href="#" role="button" class="btn btn-default">코스 보기</a>
                                    <button type="button" class="btn btn-sub">완주증</button>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="card-item">
                <ul class="course-info">
                    <li>
                        <div class="course-thumb">
                            <img src="../assets/images/sample/sample_03.jpeg" alt="낙원동 아구찜거리 이미지 설명">
                        </div>
                    </li>
                    <li>
                        <dl>
                            <dt>낙원/익선동 낭만 코스</dt>
                            <dd>
                                <div class="course-btns socials">
                                    <button type="button" class="btn btn-icon " id="btnLike">
                                        <span class="icon like">
                                            <span class="sr-only">코스 좋아요</span>
                                        </span>
                                    </button>
                                    <span class="like-count" id="likeCount">2,311</span>
                                    <button type="button" class="btn btn-icon">
                                        <span class="icon share">
                                            <span class="sr-only">공유하기</span>
                                        </span>
                                    </button>
                                </div>
                                <p class="course-text ellipsis-2">
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                </p>
                                <div class="btns">
                                    <a href="#" role="button" class="btn btn-default">코스 보기</a>
                                    <button type="button" class="btn btn-sub">완주증</button>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="card-item">
                <ul class="course-info">
                    <li>
                        <div class="course-thumb">
                            <img src="../assets/images/sample/sample_03.jpeg" alt="낙원동 아구찜거리 이미지 설명">
                        </div>
                    </li>
                    <li>
                        <dl>
                            <dt>낙원/익선동 낭만 코스</dt>
                            <dd>
                                <div class="course-btns socials">
                                    <button type="button" class="btn btn-icon" id="btnLike">
                                        <span class="icon like">
                                            <span class="sr-only">코스 좋아요</span>
                                        </span>
                                    </button>
                                    <span class="like-count" id="likeCount">2,311</span>
                                    <button type="button" class="btn btn-icon">
                                        <span class="icon share">
                                            <span class="sr-only">공유하기</span>
                                        </span>
                                    </button>
                                </div>
                                <p class="course-text ellipsis-2">
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                    레트로 감성의 서울 여행 낭만 끝판왕! 음악의 성지 낙원동과 전통과 현대의 퓨전이 만난 익선동을 즐겨보세요. 
                                </p>
                                <div class="btns">
                                    <a href="#" role="button" class="btn btn-default">코스 보기</a>
                                    <button type="button" class="btn btn-sub">완주증</button>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
           </section>
        </div>
        <!-- popup -->
        <aside id="aside" class="popup-bg popup-closable">
        </aside>

        @@include('../common/script.html')

       
    </body>
</html>