<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/head.html')
        <link rel="stylesheet" href="../assets/css/map.css"></link>
    </head>
    <body class="maps">
        @@include('../common/header_address.html')
        <div class="container">
            @@include('../common/road_search.html')

            <!-- map -->
            <div class="map-box">
                <img src="../../assets/images/sample/sample_05.png" alt="지도샘플" class="sample">
            </div>

            <div class="map-footer course">

                <label class="checkbox check-park">
                    <input type="checkbox">
                    <span>거주자우선주차</span>
                </label>

                <button type="button" class="btn btn-shinmungo">
                    <span>불법주정차신고</span>
                </button>
                
                <!-- user's location -->
                <button type="button" class="btn btn-icon my-location">
                    <span class="icon target">
                        <span class="sr-only">내위치조회</span>
                    </span>
                </button>

                <!-- 추천 코스 -->
                <button type="button" class="btn btn-recommend">
                    종로 산책 코스 추천
                </button>
            </div>
        </div>
        @@include('../common/navigation.html')
        @@include('../common/script.html')
    </body>
</html>