<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/head.html')
        <link rel="stylesheet" href="../assets/css/map.css"></link>
    </head>
    <body class="maps">
        @@include('../common/header_address.html')
        <div class="container">
            @@include('../common/road_search.html')

            <!-- map -->
            <div class="map-box">
                <img src="../../assets/images/sample/sample_05.png" alt="지도샘플" class="sample">
            </div>

            <!-- user's location -->
            <button type="button" class="btn btn-icon my-location">
                <span class="icon location">
                    <span class="sr-only">내위치조회</span>
                </span>
            </button>
        </div>
        @@include('../common/navigation.html')
        @@include('../common/script.html')
    </body>
</html>