<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/now.css"></link>
  </head>
  <body class="now detail">
    @@include('../common/header_sub.html', {title: '수어상담'})

    <div class="container">
        <section class="sl-banner">
          <p class="explain">청각·언어 장애인 구민을<br>대상으로 한 상담서비스</p>
          <h2 class="title">수어상담</h2>
          <img src="../../assets/images/img_sl.svg" alt="휴대폰 화면에서 수어상담사가 수어를 하고 있다.">
        </section>
        
        <div class="inner-padd">

          <section >
            <h3 class="content-title">수어상담 안내</h3>
            <div class="sl-guide">
              <strong>운영안내</strong>
              <ul>
                <li>상담시간: 월~금 09:00 ~ 18:00</li>
                <li>안드로이드 화상 통화 기능 지원 여부는 휴대폰 제조사로 개별 문의 바랍니다.</li>
              </ul>
            </div>
          </section>

          <!-- 안드로이드 향 단말기 -->
          <section>
            <h4 class="sl-title aos">안드로이드 상담</h4>
            <p class="sl-explain">'영상통화 수어상담' 또는 '카카오톡 수어상담'을 선택하여 수어상담을 받을 수 있어요.</p>

            <div class="ka-guide">
              <strong>[카카오톡 수어상담]</strong>
              <ol class="circle-num">
                <li>‘카카오톡 수어상담’를 선택해주세요.</li>
                <li>카카오톡에서 ‘종로구청 수어상담‘을 친구 추가해주세요.</li>
                <li>카카오톡 영상 통화로 수어상담을 받을 수 있어요.</li>
              </ol>
            
            </div>

            <div class="call-btns">
              <button type="button" class="btn btn-video-call">
                <span>영상통화 수어상담</span>
              </button>
              <button type="button" class="btn btn-ka-video">
                <span>카카오톡 수어상담</span>
              </button>
            </div>
          </section>

          <!-- iOS 향 단말기 -->
          <section>
            <h4 class="sl-title ios">iOS(아이폰) 상담</h4>
            <div class="ka-guide">
              <strong>[카카오톡 수어상담]</strong>
              <ol class="circle-num">
                <li>‘카카오톡 수어상담’를 선택해주세요.</li>
                <li>카카오톡에서 ‘종로구청 수어상담‘을 친구 추가해주세요.</li>
                <li>카카오톡 영상 통화로 수어상담을 받을 수 있어요.</li>
              </ol>
            </div>

            <div class="call-btns">
              <button type="button" class="btn btn-ka-video">
                <span>카카오톡 수어상담</span>
              </button>
            </div>
          </section>
        </div>

    </div>
  </body>
</html>