<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/now.css"></link>
  </head>
  <body class="now detail no-btm">
    @@include('../common/header_blank.html')

    <div class="container inner-full-padd">
        <h3 class="detail-info_title">
            (9.20.) 정문헌 구청장 18일 '우리동네 안전 한바퀴' 캠페인 참여'
        </h3>
        <div class="r-cnt">조회수 <span class="total">11</span></div>

        <section class="detail-info">
            <div class="pre">종로구(구청장 정문헌)가 오는 9월 2일과 9일 상촌재·박노수미술관에서 『화가의 집, 박노수미술관』 출간 기념 북토크 프로그램을 개최한다.
저자 및 삽화가와 함께하는 특별한 자리를 마련해 박노수 화백 작품뿐 아니라 한국화에 대한 시민들의 깊이 있는 이해를 돕고 문화예술을 향유하는 기회를 제공하기 위해서다.
9월 2일 1회차 북토크 프로그램은 저자이자 미술사학자인 송희경 이화여자대학교 초빙교수가, 9일 2회차는 볼로냐 아동도서전 올해의 일러스트레이터로 선정된 이소영 작가가 각각 이끈다.
                <img src="../../assets/images/sample/sample_01.png" alt="">
</div>
        </section>

        <section class="detail-info">
            <ul class="info-items">
                <li>
                  <span class="lb">첨부파일</span>
                  <div class="attach">
                    <a href="#">종로구립_박노수미술관_전경.jpg</a>
                  </div>
                </li>
            </ul>
        </section>

        <section class="detail-info">
            <ul class="info-items">
                <li>
                    <span class="lb">등록자</span>
                    <span class="dt">노영민</span>
                </li>
                <li>
                    <span class="lb">등록일</span>
                    <span class="dt">2023-10-30</span>
                </li>
            </ul>
        </section>
       
    </div>

  
    @@include('../common/script.html')
   
  </body>
</html>