<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/now.css"></link>
  </head>
  <body class="now detail no-btm">
    @@include('../common/header_sub.html', { title: '보도자료'})

    <div class="container inner-full-padd">

        <div class="brd-search">
            <span class="opts"></span>
            <span class="icon srch" class="btn-popup" data-target="popupBtmSheet" id="btnFilter">
                <span class="sr-only">검색</span>
            </span>
        </div>

        <div>
            <ul class="news-list">
                <li>
                  <a href="#" class="news-list_item">
                    <img src="../../assets/images/sample/sample_02.webp" alt="">
                    <div class="news-info">
                      <p class="news-title ellipsis-2">
                        (9.20.) 정문헌 구청장 18일 '우리동네 안전 한바퀴' 캠페인 참여'
                      </p>
                      <span class="news-date">2023-09-20</span>
                    </div>
                  </a>
                </li>
                <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.20.) 종로구, 22일부터 별이 된 청년 시인 기리는 '윤동주문학제'
                        </p>
                        <span class="news-date">2023-09-20</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.19.) "가을 정취와 거리예술 즐겨요" 종로구, 23일 '대학로 차 없는 거리 축제'
                        </p>
                        <span class="date">2023-09-19</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.20.) 종로구, 22일부터 별이 된 청년 시인 기리는 '윤동주문학제'
                        </p>
                        <span class="news-date">2023-09-20</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.19.) "가을 정취와 거리예술 즐겨요" 종로구, 23일 '대학로 차 없는 거리 축제'
                        </p>
                        <span class="date">2023-09-19</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.20.) 종로구, 22일부터 별이 된 청년 시인 기리는 '윤동주문학제'
                        </p>
                        <span class="news-date">2023-09-20</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.19.) "가을 정취와 거리예술 즐겨요" 종로구, 23일 '대학로 차 없는 거리 축제'
                        </p>
                        <span class="date">2023-09-19</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.20.) 종로구, 22일부터 별이 된 청년 시인 기리는 '윤동주문학제'
                        </p>
                        <span class="news-date">2023-09-20</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="news-list_item">
                      <img src="../../assets/images/sample/sample_01.png" alt="">
                      <div class="news-info">
                        <p class="news-title ellipsis-2">
                          (9.19.) "가을 정취와 거리예술 즐겨요" 종로구, 23일 '대학로 차 없는 거리 축제'
                        </p>
                        <span class="date">2023-09-19</span>
                      </div>
                    </a>
                  </li>
            </ul>
        </div>
    </div>

    <!-- aside -->
    <aside id="aside" class="popup-bg popup-closable">
        <div class="popup popup-slide" id="popupBtmSheet">
            <div class="btm-sheet">
                <div class="btm-sheet_body">
                    <div class="btns">
                        <button type="button" class="btn btn-text reset">초기화</button>
                        <button type="button" class="btn btn-text">확인</button>
                    </div>
                    <div class="select">
                        <label>구분</label>
                        <button type="button" class="btn btn-select" data-target="selectFilter" id="filter2">제목</button>
                    </div>
                    <div class="input">
                        <input type="text" placeholder="검색어 입력">
                    </div>
                </div>
            </div>
        </div>
    </aside>

    @@include('../common/script.html')
    <script>
        const aside = document.getElementById('aside')
        const popupBtmSheet = document.getElementById('popupBtmSheet')
        const btnFilter = document.getElementById('btnFilter')

        btnFilter.onclick = function() {
            aside.classList.add('on')
            popupBtmSheet.classList.add('show')
        }
    </script>
</body>
</html>