<!DOCTYPE html>
<html lang="ko">
  <link>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/now.css"></link>
  </head>
  <body class="now">
    <div class="container">

      <!-- visual banner -->
      <section class="content-box filled">
        <div class="now-visual">
          <img src="../../assets/images/img_now_visual.png" alt="서울의 심장, 다시 뛰는 종로">
        </div>
      </section>

      <!-- 종로TV -->
      <section class="content-box">
        <h3 class="content-title">
          종로TV
          <p class="content-title_sub">
            종로소식을 생생하게!
          </p>
          <a href="#" role="button" class="btn btn-more">전체보기</a>
        </h3>
        <div class="x-scroll">
          <ul class="video-list">
            <li class="video-list_item">
              <a href="#">
                <div class="video-wrap">
                  <img src="../../assets/images/sample/sample_51.jpg" alt=""/>
                </div>
                <dl>
                  <dt class="ellipsis">지금 종로는</dt>
                  <dd class="date">2023-05-26</dd>
                </dl>
              </a>
            </li>
            <li class="video-list_item">
              <a href="#">
                <div class="video-wrap">
                  <img src="../../assets/images/sample/sample_51.jpg" alt=""/>
                </div>
                <dl>
                  <dt class="ellipsis">지금 종로는</dt>
                  <dd class="date">2023-05-26</dd>
                </dl>
              </a>
            </li>
            <li class="video-list_item">
              <a href="#">
                <div class="video-wrap">
                  <img src="../../assets/images/sample/sample_51.jpg" alt=""/>
                </div>
                <dl>
                  <dt class="ellipsis">지금 종로는</dt>
                  <dd class="date">2023-05-26</dd>
                </dl>
              </a>
            </li>
          </ul>
        </div>

      </section>

      <!-- 보도자료 -->
      <section class="content-box filled-a">
        <h3 class="content-title">
          보도자료
          <a href="#" role="button" class="btn btn-more">전체보기</a>
        </h3>
        <div class="">
          <ul class="news-list">
            <li>
              <a href="#" class="news-list_item">
                <img src="../../assets/images/sample/sample_02.webp" alt="">
                <div class="news-info">
                  <p class="news-title ellipsis-2">
                    (9.20.) 정문헌 구청장 18일 '우리동네 안전 한바퀴' 캠페인 참여'
                  </p>
                  <span class="news-date">2023-09-20</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="news-list_item">
                <img src="../../assets/images/sample/sample_01.png" alt="">
                <div class="news-info">
                  <p class="news-title ellipsis-2">
                    (9.20.) 종로구, 22일부터 별이 된 청년 시인 기리는 '윤동주문학제'
                  </p>
                  <span class="news-date">2023-09-20</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="news-list_item">
                <img src="../../assets/images/sample/sample_01.png" alt="">
                <div class="news-info">
                  <p class="news-title ellipsis-2">
                    (9.19.) "가을 정취와 거리예술 즐겨요" 종로구, 23일 '대학로 차 없는 거리 축제'
                  </p>
                  <span class="date">2023-09-19</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <!-- 설문조사 -->
      <section class="content-box">
        <h3 class="content-title">
          설문조사
          <p class="content-title_sub">
            여러분의 의견이 필요해요~
          </p>
          <a href="#" role="button" class="btn btn-more">전체보기</a>
        </h3>
        <div class="x-scroll">
          <!-- NOTICE: 게시물 1개인 경우 ul.single 추가 (아이템 가로 100% 적용) -->
          <ul class="poll-list">
            <li class="poll-item">
              <a href="#">
                <p class="poll-item_title">
                  종로 스마트시티앱 사용에 대한 설문
                </p>
                <div class="poll-item_period">
                  2023-08-30 ~ 2023-09-30
                </div>
              </a>
            </li>
            <li class="poll-item">
              <a href="#">
                <p class="poll-item_title">
                  종로 문화 체험 프로그램에 대한 설문
                </p>
                <div class="poll-item_period">
                  2023-08-30 ~ 2023-09-30
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="content-box">
        <div class="banners">
          <div class="banner banner-sign">
            <a href="#">
              <dl>
                <dt>수어상담</dt>
                <dd>
                  청각·언어 장애인 구민을 대상으로<br>수어상담 서비스를 지원합니다.
                </dd>
              </dl>
              <img src="../../assets/images/icon_banner_sign.png" alt="스마트 제설함 이미지" class="banner-img">
            </a>
          </div>
        </div>
      </section>
    </div>

    @@include('../common/navigation.html')
    @@include('../common/script.html')
   
  </body>
</html>
