<!DOCTYPE html>
<html lang="ko">
  <link>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/search.css"></link>
  </head>
  <body class="search search-main">
    <div class="container">
      <section class="search-box" id="searchContainer">
        <h2>무엇을 찾으시나요?</h2>
        <div class="search-keyword">
          <input type="search" placeholder="검색어 입력" id="inputSearch">
          <button type="button" class="btn btn-icon">
            <span class="icon srch">
              <span class="sr-only">검색</span>
            </span>
          </button>
        </div>
        <!-- search layer -->
        <div class="search-layer">
          <div class="quick-search-result">
            <button type="button" class="btn btn-text small">스마트 번호표 신청</button>
            <button type="button" class="btn btn-text small">스마트 번호표 조회</button>
            <button type="button" class="btn btn-text small">스마트 제설함</button>
          </div>
        </div>
      </section>

      <!-- 최근 검색어 -->
      <section class="search-box">
        <h3 class="search-box_title">
          최근 검색어
          <button type="button" class="btn btn-text">전체 삭제</button>
        </h3>
        <!-- TODO: localStorage 관리 -->
        <div class="history-keyword">
          <div class="keyword">
            <button type="button" class="btn btn-keyword">광화문 주차</button>
            <button type="button" class="btn btn-delete">
              <span class="sr-only">삭제 버튼</span>
            </button>
          </div>
          <div class="keyword">
            <button type="button" class="btn btn-keyword">광화문</button>
            <button type="button" class="btn btn-delete">
              <span class="sr-only">삭제 버튼</span>
            </button>
          </div>
          <div class="keyword">
            <button type="button" class="btn btn-keyword">쓰레기 배출</button>
            <button type="button" class="btn btn-delete">
              <span class="sr-only">삭제 버튼</span>
            </button>
          </div>
          <div class="keyword">
            <button type="button" class="btn btn-keyword">종로 맛집</button>
            <button type="button" class="btn btn-delete">
              <span class="sr-only">삭제 버튼</span>
            </button>
          </div>
          <div class="keyword">
            <button type="button" class="btn btn-keyword">교보문고</button>
            <button type="button" class="btn btn-delete">
              <span class="sr-only">삭제 버튼</span>
            </button>
          </div>
        </div>
      </section>

      <section class="search-box">
        <h3 class="search-box_title">
          인기 검색어
          <span class="date">2023-09-10 12:00 기준</span>
        </h3>
        <ol class="rank-keyword">
          <li><button type="button" class="btn btn-keyword">주정차 과태료</button></li>
          <li><button type="button" class="btn btn-keyword">북촌 한옥마을</button></li>
          <li><button type="button" class="btn btn-keyword">미세먼지</button></li>
          <li><button type="button" class="btn btn-keyword">무인민원발급기</button></li>
          <li><button type="button" class="btn btn-keyword">경복궁 야간개장</button></li>
          <li><button type="button" class="btn btn-keyword">종로 산책 코스</button></li>
          <li><button type="button" class="btn btn-keyword">청와대 관람</button></li>
          <li><button type="button" class="btn btn-keyword">종로 맛집</button></li>
          <li><button type="button" class="btn btn-keyword">종로 공영 주차장</button></li>
          <li><button type="button" class="btn btn-keyword">민원발급</button></li>
        </ol>

        <ol class="rank-keyword blank">
          <li>
            <div class="not-found">
              <p>인기검색어를 집계중입니다.</p>
            </div>
          </li>
        </ol>

      </section>

      <!-- 12/1 기획, 디자인 변경 -->
      <section class="search-box quick" style="display: none">
        <div class="quick-box">
          <div class="quick-search">
            <h3 class="search-box_title">빠른 민원 검색</h3>
            <div class="keywords">
              <button type="button" class="btn btn-keyword">스마트번호표 신청</button>
              <button type="button" class="btn btn-keyword">대형생활폐기물 신고</button>
              <button type="button" class="btn btn-keyword">교통과태료 조회</button>
              <button type="button" class="btn btn-keyword">스마트 제설함</button>
              <button type="button" class="btn btn-keyword">비대면 환급신청</button>
            </div>
          </div>
          <div class="quick-search">
            <h3 class="search-box_title">종로 정책 검색</h3>
            <div class="keywords">
              <button type="button" class="btn btn-keyword">재난안전 정책</button>
              <button type="button" class="btn btn-keyword">교육</button>
              <button type="button" class="btn btn-keyword">어르신 복지</button>
              <button type="button" class="btn btn-keyword">재개발</button>
              <button type="button" class="btn btn-keyword">종로 관광 정책</button>
            </div>
          </div>
        </div>
      </section>


      <section class="search-box fixed-bottom">
        <ul class="quick-menu">
          <li>
            <a href="#">스마트 번호표</a>
          </li>
          <li>
            <a href="#">스마트 제설함</a>
          </li>
          <li>
            <a href="#">대형 생활 폐기물 신고</a>
          </li>
          <li>
            <a href="#">교통 과태료 조회</a>
          </li>
        </ul>
      </section>

      <!-- 전입자 배너 -->
      <section class="search-box" style="display: none">
        <div class="banners">
          <div class="banner banner-movin">
            <a href="#">
              <dl>
                <dt>종로구 <em>전입자 안내 가이드</em></dt>
                <dd>
                  종로구 생활에 필요한 정보를<br>안내합니다.
                </dd>
              </dl>
              <img src="../../assets/images/icon_banner_movin.png" alt="" class="banner-img">
            </a>
          </div>
        </div>
      </section>

    </div>
    @@include('../common/navigation.html')
    @@include('../common/script.html')
    <script>
      const searchContainer = document.getElementById('searchContainer')
      const inputSearch = document.getElementById('inputSearch')

      inputSearch.onfocus = function(e) {
        searchContainer.classList.add('active')
      }
      inputSearch.onblur = function(e) {
        searchContainer.classList.remove('active')
      }
    </script>
  </body>
</html>
