<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/more.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: "자주하는 질문"})
    <div class="container inner-full-padd">

      <!-- filter -->
      <div class="search">
        <div class="input">
          <input type="text" placeholder="무엇을 도와드릴까요?">
          <span class="icon srch">
            <span class="sr-only">장소검색</span>
          </span>
        </div>
      </div>

      <div class="categories">
        <div class="radio">
          <input type="radio" id="r1" name="sample-radio2" value="1" checked>
          <label for="r1" class="btn-radio"><span>자주 찾는 도움말</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="r2" name="sample-radio2" value="1" >
          <label for="r2" class="btn-radio"><span>가입/로그인</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="r3" name="sample-radio2" value="1" >
          <label for="r3" class="btn-radio"><span>민원</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="r4" name="sample-radio2" value="1" >
          <label for="r4" class="btn-radio"><span>산책코스</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="r5" name="sample-radio2" value="1" >
          <label for="r5" class="btn-radio"><span>종로맵</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="r6" name="sample-radio2" value="1" >
          <label for="r6" class="btn-radio"><span>신청</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="r7" name="sample-radio2" value="1" >
          <label for="r7" class="btn-radio"><span>종로소식</span></label>
        </div>
        <div class="radio">
          <input type="radio" id="r8" name="sample-radio2" value="1" >
          <label for="r8" class="btn-radio"><span>공지</span></label>
        </div>
      </div>


      <h3 class="qa-title">검색결과 <em>0</em>건</h3>
    
      <div class="not-found">
        <p>검색결과가 없습니다.</p>
      </div>

    </div>

    <aside id="aside" class="popup-bg popup-closable">
      @@include("../popup/popup_select_bottom.html")
    </aside>

    @@include('../common/script.html')
  </body>
</html>
