<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/more.css"></link>
  </head>
  <body class="more no-btm">
    
    @@include('../common/header_sub.html', {title: "약관"})
    <div class="container inner-full-padd">
      <ul class="middle-menu">
        <li>
          <a href="./05_006_terms_detail.html" class="middle-menu_item">서비스 이용약관</a>
        </li>
        <li>
          <a href="./05_006_terms_detail.html" class="middle-menu_item">위치기반 서비스 이용약관</a>
        </li>
        <li>
          <a href="./05_006_terms_detail.html" class="middle-menu_item">개인정보 처리방침</a>
        </li>
        <li>
          <a href="./05_006_terms_detail.html" class="middle-menu_item">개인정보 제 3자 정보제공 동의</a>
        </li>
      </ul>
    </div>

    @@include('../common/script.html')
  </body>
</html>
