<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/head.html')
        <link rel="stylesheet" href="../assets/css/more.css"></link>
    </head>
    <body class="more">
        @@include('../common/header_sub.html', {title: '나의 민원'})
        <div class="container inner-full-padd">
            <div class="my-ticket_list">
                <div class="not-found">
                    <p>신청한 민원이 없습니다.</p>
                </div>
            </div>
        </div>

        @@include('../common/script.html')
        <script>
        </script>
    </body>
</html>
