<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/more.css"></link>
  </head>
  <body class="more">
    
    @@include('../common/header_sub.html', {title: "공지사항"})
    <div class="container inner-full-padd">
      
      <ul class="brd-list top-blank">
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="badge n-system">시스템</span>
            <span class="brd-title">공지 제목입니다. 공지 제목입니다. 공지 제목입니다. 공지 제목입니다.</span>
            <span class="brd-date">2023-09-15</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="badge n-general">일반</span>
            <span class="brd-title">새롭게 바뀌는 종로 구정 안내 정보</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="badge n-general">일반</span>
            <span class="brd-title">종로 스마트시티 앱을 널리 홍보해보자</span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="badge n-system">시스템</span>
            <span class="brd-title">공지 제목입니다. </span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
        <li class="brd-list_item">
          <a href="./05_005_notice_detail.html">
            <span class="badge n-system">시스템</span>
            <span class="brd-title">공지 제목입니다. </span>
            <span class="brd-date">yyyy-mm-dd</span>
          </a>
        </li>
      </ul>
    </div>

    @@include('../common/script.html')
  </body>
</html>
