<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../common/head.html')
    <link rel="stylesheet" href="../assets/css/more.css"></link>
  </head>
  <body class="more">
    <header id="header" class="sub detail">
      <div></div>
      <a href="#" role="button" title="알림설정 하기" class="btn btn-icon icon setting">
        <span class="sr-only">알림 설정하기</span>
      </a>
      <a href="./00_011_all_menu.html" role="button" class="btn btn-icon icon menu">
        <span class="sr-only">메뉴 전체보기</span>
      </a>
    </header>

    <div class="container inner-full-padd">

      <section class="more-box user">
        <a href="" role="button" class="btn-login"><span>로그인</span>하기</a>
        <h2 class="user-info">
          <img src="../../assets/images/icon_login_kakao.svg" alt="카카오 로그인">
          <span>honghong님</span>
        </h2>
        <h2 class="user-info">
          <img src="../../assets/images/icon_login_naver.svg" alt="네이버 로그인">
          <span>honghong님</span>
        </h2>
        <h2 class="user-info">
          <img src="../../assets/images/icon_login_sms.svg" alt="본인인증 로그인">
          <span>honghong님</span>
        </h2>
        <div class="my-box">
            <a href="#" role="button" title="나의 민원 내역 보기">
                <dl>
                    <dt>나의 민원</dt>
                    <dd>
                        <em>1</em>
                        <span>건</span>
                    </dd>
                </dl>
            </a>
        </div>
      </section>

      <section class="more-box cs">

        <div class="banners">
          <div class="banner banner-emerge">
            <a href="#" role="button">
              <dl>
                <dt>종로ONE 긴급신고</dt>
                <dd>긴급할 땐 편리하고 빠르게</dd>
              </dl>
              <img src="../../assets/images/icon_banner__emerge.svg" alt="긴급신고 아이콘">
            </a>
          </div>
        </div>

        <ul class="cs-list">
            <li class="cs-list_item">
                <a href="#" role="button" title="자주하는 질문 바로가기">
                    <span class="icon faq">
                        <span class="sr-only">FAQ</span>
                    </span>
                    <span>자주하는 질문</span>
                </a>
            </li>
            <li class="cs-list_item">
                <a href="#" role="button" title="1:1문의 바로가기">
                    <span class="icon question">
                        <span class="sr-only">1:1 문의</span>
                    </span>
                    <span>1:1 문의</span>
                </a>
            </li>
        </ul>
      </section>

      <section class="more-box notice">
        <h3 class="more-box_title">
          공지사항
          <a href="#" class="btn btn-more">전체보기</a>
        </h3>
        <div class="notice-box">
            <ul class="notice-list">
                <li class="notice-list_item">
                  <a href="#">
                    <span class="type">시스템</span>
                    <span class="title">공지 제목입니다. 공지 제목입니다. 공지 제목입니다.</span>
                    <span class="date">2023-09-14</span>
                  </a>
                </li>
                <li class="notice-list_item">
                  <a href="#">
                    <span class="type">일반</span>
                    <span class="title">공지 제목입니다. </span>
                    <span class="date">2023-09-10</span>
                  </a>
                </li>
                <li class="notice-list_item">
                  <a href="#">
                    <span class="type">일반</span>
                    <span class="title">공지 제목입니다. </span>
                    <span class="date">2023-09-01</span>
                  </a>
                </li>
            </ul>
        </div>
      </section>

      <section class="more-box banners">
        <div class="banner">
          <a href="#" title="배너 설명">
              <h4 class="banner-title">I LOVE 북촌</h4>
              <dl>
                <dt>I LOVE 북촌</dt>
                <dd></dd>
              </dl>
              <img src="../../assets/images/sample/sample_02.webp" alt="남산타워가 보이는 북촌한옥마을 사진" class="banner-img_bg">
          </a>
        </div>
        <div class="banner">
          <a href="#" title="배너 설명">
              <dl>
                <dt>종로구 전입자 안내 가이드</dt>
                <dd>
                  종로구로 이사오셨어요?<br>
                  종로구민이 되신 것을 축하드립니다.
                  <span>바로가기</span>
                </dd>
              </dl>
              <img src="../../assets/images/sample/sample_03.jpeg" alt="익선동 포차거리에서 사람들이 술을 마시고 있다." class="banner-img_bg">
          </a>
        </div>
        <div class="banner">
          <a href="#" title="배너 설명" style="background-color:#ffe87a;border:5px solid #f1db6b;">
              <dl>
                <dt>누구나 즐거운 종로</dt>
                <dd></dd>
              </dl>
          </a>
        </div>
      </section>

      <section class="more-box op">
        <a href="#" class="btn btn-all">전체 메뉴</a>
        <ul class="opr-info">
          <li>
            <a href="#" class="btn-text">이용약관</a>
          </li>
          <li class="bar"></li>
          <li>
            <span>앱버전 <span class="ver">1.2</span></span>
          </li>
        </ul>
        <a href="#" class="btn btn-logout">로그아웃</a>
      </section>
    </div>

    <!-- navigation bar -->
    @@include('../common/navigation.html')
  </body>
</html>

