<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/head.html')
        <link rel="stylesheet" href="../assets/css/home.css"></link>
    </head>
    <body class="emg no-btm">
        <div class="container">
            <div class="emg-info">
                <h2>SOS 긴급상황 신고</h2>
                <dl>
                    <dt>신고자 위치</dt>
                    <dd>서울 종로구 익선동 123</dd>
                </dl>
            </div>
            <img src="../../assets/images/icon_emg.svg" style="position:absolute;left:50%;top:50%;transform:translate(-50%, -50%)">
            <img src="../../assets/images/sample/sample_05.png" alt="샘플 지도 이미지" style="width: 100%;">
        </div>
    </body>
</html>