<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/head.html')
        <link rel="stylesheet" href="../assets/css/home.css"></link>
    </head>
    <body class="user-out no-btm">
        <div class="container">
            <div class="logo">
                <img src="../../assets/images/app_logo.svg" alt="종로Pick 심볼 로고">
            </div>
            <h1>종로Pick 회원탈퇴가<br>완료되었습니다.</h1>
            <div class="bye">
                종로Pick를 이용해주셔서 감사합니다.<br>
                더욱 나은 서비스가 되도록<br>
                노력하겠습니다.
            </div>
        
            <div class="btns under">
                <button type="button" class="btn btn-primary">확인</button>
            </div>
        </div>
    </body>
</html>