<aside class="popup-bg popup-closable">
    <div class="popup large" id="popupOrder">
        <div class="popup-head">
            탐방코스 노출 순서 설정
            <span class="icon info">
                <span class="sr-only">정보보기</span>
            </span>

            <button type="button" class="btn btn-icon icon close">
                <span class="sr-only">팝업 닫기</span>
            </button>
        </div>
        <div class="popup-body">
            <div class="popup-search">
                <div class="search">
                    <div class="item">
                        <div class="label"><label>노출 방식</label></div>
                        <div class="inline">
                            <label class="radio">
                                <input type="radio" name="sort-type" value="1">
                                <span>자동 정렬</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="sort-type" value="2">
                                <span>사용자 지정 + 자동 정렬</span>
                            </label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label"><label>자동 정렬 기준</label></div>
                        <div class="inline">
                            <select class="select">
                                <option value="">option 1</option>
                                <option value="">option 2</option>
                            </select>
                            <select class="select">
                                <option value="">option 1</option>
                                <option value="">option 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="list-head">
                    <strong>순서 지정 목록</strong>
                    <div class="btns">
                        <button type="button" class="btn btn-del">삭제</button>
                        <button type="button" class="btn btn-primary">추가</button>
                    </div>
                </div>
                <div class="list-body">
                    <table class="tb-data">
                        <thead>
                            <tr>
                                <th scope="col">순서</th>
                                <th scope="col">코스 명</th>
                                <th scope="col">거점 수</th>
                                <th scope="col">페이지뷰</th>
                                <th scope="col">좋아요</th>
                                <th scope="col">공유</th>
                                <th scope="col">완주증</th>
                                <th scope="col">코스 구분</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <ul class="guide">
                        <li>
                            드래그앤드롭으로 노출 순서를 조정할 수 있습니다.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-tail">
            <button type="button" class="btn btn-primary">적용</button>
        </div>
    </div>
</aside>