<header id="header">
    <a href="00_002_dashboard.html" class="logo">
       관리자사이트
    </a>
    <div class="opt">
        <button type="button" class="btn btn-text">yesman 님</button>
    </div>
    <div class="opt">
        <button type="button" class="btn btn-icon icon alarm"></button>
        <div class="dropdown">
            <div class="dropdown-alarm">
                <h4 class="title">알림</h4>
                <button type="button" class="btn btn-text">모두 읽음 처리</button>
                <ul class="lists">
                    <li>
                        새로운 1:1 문의가 도착했습니다. 
                        <span class="date">2023-10-31 10:30</span>
                    </li>
                    <li>
                        권한이 관리자로 변경되었습니다.
                        <span class="date">2023-10-31 10:30</span>
                    </li>
                    <li>
                        가입이 승인되었습니다.
                        <span class="date">2023-10-31 10:30</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="opt">
        <button type="button" class="btn btn-text">로그아웃</button>
    </div>
</header>