<div class="item">
    <div class="label">
      <label for="">기간 조회</label>
    </div>
    <div class="frm-date">
      <select class="select">
        <option value="">옵션 1</option>
        <option value="">옵션 2</option>
      </select>
      <div class="date picker">
        <input type="text" class="input" placeholder="시작일">
      </div>
      <div class="date picker">
        <input type="text" class="input" placeholder="종료일">
      </div>
      <div class="select-date">
        <label>
          <input type="radio" name="select-date" value="1" checked>
          <span>전체</span>
        </label>
        <label>
          <input type="radio" name="select-date" value="2">
          <span>오늘</span>
        </label>
        <label>
          <input type="radio" name="select-date" value="3">
          <span>일주일</span>
        </label>
        <label>
          <input type="radio" name="select-date" value="4">
          <span>1개월</span>
        </label>
        <label>
          <input type="radio" name="select-date" value="5">
          <span>3개월</span>
        </label>
      </div>
    </div>
  </div>